@use '/node_modules/@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

@mixin cdr-grid-base-mixin() {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: tokens.$cdr-space-one-x tokens.$cdr-space-one-x;
}

@mixin cdr-grid-gutter-none-mixin() {
  gap: 0;
}

@mixin cdr-grid-gutter-small-mixin() {
  gap: tokens.$cdr-space-eighth-x tokens.$cdr-space-eighth-x;
}

@mixin cdr-grid-gutter-medium-mixin() {
  gap: tokens.$cdr-space-one-x tokens.$cdr-space-one-x;
}

@mixin cdr-grid-gutter-large-mixin() {
  gap: tokens.$cdr-space-two-x tokens.$cdr-space-two-x;
}
