@import '../../../../styles/settings/index.scss';

$surface-selection-modifiers: 'primary', 'secondary';
$surface-selection-component: 'surface-selection';
$surface-selection-background-colors: (
  'primary': (
    'rest': $cdr-color-background-surface-selection-primary,
    'hover': $cdr-color-background-surface-selection-primary-hover,
    'active': $cdr-color-background-surface-selection-primary-active,
    'checked': $cdr-color-background-surface-selection-primary-checked,
    'disabled': $cdr-color-background-surface-selection-primary-disabled,
  ),
  'secondary': (
    'rest': $cdr-color-background-surface-selection-secondary,
    'hover': $cdr-color-background-surface-selection-secondary-hover,
    'active': $cdr-color-background-surface-selection-secondary-active,
    'checked': $cdr-color-background-surface-selection-secondary-checked,
    'disabled': $cdr-color-background-surface-selection-secondary-disabled,
  ),
);
$surface-selection-border-colors: (
  'primary': (
    'rest': $cdr-color-border-surface-selection-primary,
    'hover': $cdr-color-border-surface-selection-primary-hover,
    'active': $cdr-color-border-surface-selection-primary-active,
    'checked': $cdr-color-border-surface-selection-primary-checked,
    'disabled': $cdr-color-border-surface-selection-primary-disabled,
  ),
  'secondary': (
    'rest': $cdr-color-border-surface-selection-secondary,
    'hover': $cdr-color-border-surface-selection-secondary-hover,
    'active': $cdr-color-border-surface-selection-secondary-active,
    'checked': $cdr-color-border-surface-selection-secondary-checked,
    'disabled': $cdr-color-border-surface-selection-secondary-disabled,
  ),
);

@mixin cdr-surface-selection-disabled-mixin() {
  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    @content;
  }
}

@mixin cdr-surface-selection-hover-mixin() {
  &:hover:not([aria-pressed='true'], [aria-checked='true'], :disabled) {
    @content;
  }
}

@mixin cdr-surface-selection-active-mixin() {
  &:focus,
  &:active,
  &[aria-pressed='true']:focus,
  &[aria-pressed='true']:active,
  &[aria-checked='true']:focus,
  &[aria-checked='true']:active {
    @content;
  }
}

@mixin cdr-surface-selection-checked-mixin() {
  &[aria-pressed='true'],
  &[aria-checked='true'] {
    @content;
  }
}

@mixin cdr-surface-selection-base-mixin($component) {
  @include cdr-text-utility-sans-300;
  border: none;
  cursor: pointer;
  appearance: none;
  text-align: left;
  text-decoration: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  padding-block: 0;
  padding-inline: 0;
  transition:
    color var(--cdr-duration-1-x) var(--cdr-timing-function-ease),
    fill var(--cdr-duration-1-x) var(--cdr-timing-function-ease),
    background-color var(--cdr-duration-1-x) var(--cdr-timing-function-ease),
    box-shadow var(--cdr-duration-1-x) var(--cdr-timing-function-ease);

  @include cdr-surface-selection-disabled-mixin() {
    cursor: not-allowed !important;
  }

  @include cdr-surface-selection-active-mixin() {
    @include cdr-border-mixin($component);
    outline: none;
    --cdr-#{$component}-border-width-default: var(--cdr-space-inset-quarter-x);
  }

  @include cdr-surface-selection-checked-mixin() {
    @include cdr-text-utility-sans-strong-300;
    @include cdr-border-mixin($component);
    --cdr-#{$component}-border-width-default: var(--cdr-space-inset-eighth-x);
  }

  &[aria-pressed='true']:not([role='checkbox']),
  &[aria-checked='true']:not([role='checkbox']) {
    cursor: default;
  }
}

@mixin cdr-surface-selection-states-mixin(
  $background-colors,
  $border-colors,
  $component,
  $modifier: 'default'
) {
  @include cdr-background-mixin($background-colors, $component, $modifier);
  @include cdr-border-color-mixin($border-colors, $component, $modifier);

  @include cdr-surface-selection-hover-mixin() {
    $state: 'hover';
    @include cdr-background-mixin($background-colors, $component, $modifier, $state);
    @include cdr-border-color-mixin($border-colors, $component, $modifier, $state);
  }

  @include cdr-surface-selection-active-mixin() {
    $state: 'active';
    @include cdr-background-mixin($background-colors, $component, $modifier, $state);
    @include cdr-border-color-mixin($border-colors, $component, $modifier, $state);
  }

  @include cdr-surface-selection-checked-mixin() {
    $state: 'checked';
    @include cdr-background-mixin($background-colors, $component, $modifier, $state);
    @include cdr-border-color-mixin($border-colors, $component, $modifier, $state);
  }

  @include cdr-surface-selection-disabled-mixin() {
    $state: 'disabled';
    @include cdr-background-mixin($background-colors, $component, $modifier, $state);
    @include cdr-border-color-mixin($border-colors, $component, $modifier, $state);
  }
}

@mixin cdr-surface-selection-states-modifiers-mixin(
  $background-colors,
  $border-colors,
  $component,
  $modifiers
) {
  @each $modifier in $modifiers {
    .cdr-#{$component}--modifier-#{$modifier} {
      @include cdr-surface-selection-states-mixin(
        $background-colors,
        $border-colors,
        $component,
        $modifier
      );
    }
  }
}
