@import '../../../../styles/settings/index';

@mixin cdr-surface-selection-layout-base-mixin() {
  display: flex;
  gap: $cdr-space-three-eighth-x;

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }
}
