@use '@rei/cdr-tokens/scss' as tokens;

@mixin cdr-card-base-mixin() {
  position: relative;
  background-color: var(--cdr-card-background);
  border-radius: tokens.$cdr-radius-softer;
  box-shadow: tokens.$cdr-prominence-raised;
  color: var(--cdr-card-text);
  container: card / inline-size;
  width: 100%;
  transition: box-shadow tokens.$cdr-duration-2-x tokens.$cdr-timing-function-ease;
  cursor: pointer;
  overflow: hidden;

  &:active,
  &:hover {
    box-shadow: tokens.$cdr-prominence-floating;
    transform: translateY(-#{tokens.$cdr-space-eighth-x});
    transition: tokens.$cdr-duration-2-x;
  }
}

@mixin cdr-card-link-mixin() {
  position: static;
  color: var(--cdr-card-link-text) !important;
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
    color: var(--cdr-card-link-text-hover) !important;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
  }
}
