@mixin cdr-card-base-mixin() {
  position: relative;
  //ITEM_DOC: Background color of a cdr-card
  background-color: var(--cdr-card-base-background-color, var(--cdr-color-background-primary, #{$cdr-color-background-primary}));
  border-radius: $cdr-radius-softer;
  box-shadow: $cdr-prominence-raised;
  //ITEM_DOC: Text color of a cdr-card
  color: var(--cdr-card-base-color, var(--cdr-color-text-primary, #{$cdr-color-text-primary}));
  width: 100%;
  transition: box-shadow $cdr-duration-2-x $cdr-timing-function-ease;
  cursor: pointer;
  overflow: hidden;

  &:active, &:hover {
    box-shadow: $cdr-prominence-floating;
    transform: translateY(-$cdr-space-eighth-x);
    transition: $cdr-duration-2-x;
  }
}

@mixin cdr-card-link-mixin() {
  position: static;
  //ITEM_DOC: Link text color of a cdr-card
  color: var(--cdr-card-link-color, var(--cdr-color-text-primary, #{$cdr-color-text-primary})) !important;
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
    //ITEM_DOC: Link hover text color of a cdr-card
    color: var(--cdr-card-link-hover-color, var(--cdr-color-text-link-hover, #{$cdr-color-text-link-hover})) !important;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
  }
}
