@import '../themes/CdrCard.color.scss';
@import '../themes/CdrCard.prominence.scss';
@import '../themes/CdrCard.radius.scss';
@import '../themes/CdrCard.shape.scss';
@import '../themes/CdrCard.spacing.scss';
@import '../themes/CdrCard.typography.scss';


$value-map: (
  'cdr-card-width-100': 100%,
  'cdr-card-height-100': 100%,
  // other value variables
);

@function cdr-value($name) {
  @return map-get($value-map, $name);
}

@mixin cdr-card-base-mixin() {
  @include cdr-card-color-mixin;
  @include cdr-card-shape-mixin;
  @include cdr-card-prominence-mixin;
  @include cdr-card-spacing-mixin;
  @include cdr-card-typography-mixin;
  position: relative;
  width: cdr-value('cdr-card-width-100');
  transition: box-shadow cdr-value('cdr-card-duration-2-x') $cdr-timing-function-ease;
  cursor: pointer;
  overflow: hidden;

  &:active, &:hover {
    @include cdr-card-prominence('cdr-card-box-shadow-hover');
    transform: cdr-shape('cdr-card-transform-default');
    transition: cdr-value('cdr-card-duration-2-x');
  }
}

@mixin cdr-card--static-base-mixin() {
  @include cdr-card-color-mixin;
  @include cdr-card-shape-mixin;
  @include cdr-card-spacing-mixin;
  @include cdr-card-typography-mixin;
  width: cdr-value('cdr-card-width-100');
  overflow: hidden;
}

@mixin cdr-card-link-mixin() {
  @include cdr-card-color-mixin;
  @include cdr-card-typography-mixin;
  position: static;
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: cdr-value('cdr-card-width-100');
    z-index: 1;
    height: cdr-value('cdr-card-height-100');
    left: 0;
    top: 0;
    background-color: cdr-color('cdr-card-background-color-transparent');
  }
}