@use './CdrInput.maps' as maps;
@use 'sass:map';
@use '@rei/cdr-tokens/scss' as tokens;

@mixin cdr-input-base-mixin() {
  @include tokens.cdr-text-utility-sans-300;

  font-weight: 500;

  // ITEM_DOC: Text color of a cdr-input by default
  color: var(--cdr-input-text-color-default, #{map.get(maps.$input-defaults, text)});
  border: 0;

  // ITEM_DOC: Background color of a cdr-input by default
  background-color: var(
    --cdr-input-background-color-default,
    #{map.get(maps.$input-defaults, surface)}
  );

  // ITEM_DOC: Box-shadow color of a cdr-input by default
  box-shadow: inset 0 0 0 1px
    var(--cdr-input-box-shadow-default, #{map.get(maps.$input-defaults, border)});

  // ITEM_DOC: Fill color of an icon in a cdr-input
  fill: var(--cdr-input-icon-fill, #{map.get(maps.$input-defaults, icon)});
  border-radius: tokens.$cdr-radius-softer;
  padding: tokens.$cdr-space-inset-half-x;
  height: tokens.$cdr-form-input-height-default;
  display: block;
  width: 100%;
  overflow: visible;
  margin: 0;
  appearance: none !important;

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &:active,
  &:focus {
    outline: none;

    // ITEM_DOC: Box shadow of a focused or active cdr-input
    box-shadow:
      inset 0 0 0 2px
        var(--cdr-input-box-shadow-focus, #{map.get(maps.$input-defaults, border-focus)}),
      tokens.$cdr-prominence-raised;
  }

  &::placeholder {
    @include tokens.cdr-text-utility-sans-300;

    color: var(--cdr-input-placeholder-text-color, #{map.get(maps.$input-defaults, placeholder)});
  }

  &[disabled] {
    // ITEM_DOC: Background color of a disabled cdr-input
    background-color: var(
      --cdr-input-background-color-disabled,
      #{map.get(maps.$input-defaults, surface-disabled)}
    );

    // ITEM_DOC: Text color of a disabled cdr-input
    color: var(--cdr-input-text-color-disabled, #{map.get(maps.$input-defaults, text-disabled)});

    // ITEM_DOC: Box-shadow color of a disabled cdr-input
    box-shadow: inset 0 0 0 1px
      var(--cdr-input-box-shadow-disabled, #{map.get(maps.$input-defaults, border-disabled)});

    &:hover {
      box-shadow: inset 0 0 0 1px
        var(
          --cdr-input-box-shadow-disabled-hover,
          #{map.get(maps.$input-defaults, border-disabled)}
        );
      cursor: not-allowed;
    }

    &::placeholder {
      color: var(
        --cdr-input-placeholder-text-color-disabled,
        #{map.get(maps.$input-defaults, text-disabled)}
      );
    }
  }
}

@mixin cdr-input-primary-mixin() {
  // ITEM_DOC: Background color of a default cdr-input
  background-color: var(
    --cdr-input-background-color-default,
    #{map.get(maps.$input-defaults, surface)}
  );

  &:active,
  &:focus {
    // ITEM_DOC: Background color of a default cdr-input in active or focus state
    background-color: var(
      --cdr-input-background-color-default-focus,
      #{map.get(maps.$input-defaults, surface-active)}
    );
  }
}

@mixin cdr-input-secondary-mixin() {
  // ITEM_DOC: Background color of a secondary cdr-input
  background-color: var(
    --cdr-input-background-color-secondary,
    #{map.get(maps.$input-defaults, surface-secondary)}
  );

  &:active,
  &:focus {
    // ITEM_DOC: Background color of a secondary cdr-input in active or focus state
    background-color: var(
      --cdr-input-background-color-secondary-active,
      #{map.get(maps.$input-defaults, surface-secondary-active)}
    );
  }
}

@mixin cdr-input-error-mixin() {
  // ITEM_DOC: Background color of a cdr-input in error state
  background-color: var(
    --cdr-input-error-background-color,
    #{map.get(maps.$input-defaults, error-surface)}
  );

  // ITEM_DOC: Box-shadow color of a cdr-input in error state
  box-shadow: inset 0 0 0 1px
    var(--cdr-input-error-box-shadow, #{map.get(maps.$input-defaults, error-border)});
}

@mixin cdr-input-large-mixin() {
  @include tokens.cdr-text-utility-sans-400;

  line-height: tokens.$cdr-space-half-x + tokens.$cdr-text-utility-sans-400-line-height;
  padding-left: tokens.$cdr-space-half-x;
  height: tokens.$cdr-form-input-height-large;

  &::placeholder {
    line-height: tokens.$cdr-space-half-x + tokens.$cdr-text-utility-sans-400-line-height;
  }
}

@mixin cdr-input-helper-text-mixin() {
  @include tokens.cdr-text-utility-sans-200;

  // ITEM_DOC: Text color of a cdr-input's helper text
  color: var(--cdr-input-helper-text-color, #{map.get(maps.$input-defaults, helper)});
}
