{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "parser": "@typescript-eslint/parser"
  },
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-use-before-define": 0,
    "vue/require-default-prop": 0,
    "vue/attributes-order": 0,
    "vue/no-multiple-template-root": 0,
    "max-len": ["error", {
      "code": 100,
      "ignoreComments": true,
      "ignoreTrailingComments": true
    }],
    "vue/multiline-html-element-content-newline": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "camelcase": "off",
    // Use the @typescript-eslint/naming-convention rule instead
    "@typescript-eslint/naming-convention": [
      "error",
      // Enforce camelCase for everything by default
      {
        "selector": "default",
        "format": ["camelCase"]
      },
      // Allow PascalCase for variables that are only made of uppercase letters or used for JSX
      {
        "selector": "variable",
        "format": ["camelCase", "PascalCase", "UPPER_CASE"]
      },
      // Enforce PascalCase for types (classes, interfaces, type aliases, enums, etc.)
      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      },
      // Optional: Enforce specific naming for interface members, if needed
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]", // Optional: if you specifically want to forbid the 'I' prefix
          "match": false
        }
      }
    ]
  }
}
