{
    "extends": "stylelint-config-recommended-scss",
    "ignoreFiles": [
        "**/*.js",
        "**/*.snap",
        "**/*.vars.pcss"
    ],
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "at-rule-disallowed-list": ["debug"],
        "no-empty-source": null,
        "no-descending-specificity": null,
        "selector-pseudo-class-no-unknown": [true, {
            "ignorePseudoClasses": ["global"]
        }]
    }
}