@mixin cdr-lead-base-mixin() {
  width: 100%;
  line-height: 0;
  &--top {
    background: linear-gradient(
      var(--cdr-lead-surface-color, var(--cdr-color-background-primary, #{$cdr-color-background-primary})) 0 50%,
      transparent 50% 100%,
    );
  }
  &--bottom {
    background: linear-gradient(
      transparent 0 50%,
      var(--cdr-lead-surface-color, var(--cdr-color-background-primary, #{$cdr-color-background-primary})) 50% 100%,
    );
  }
}

@mixin cdr-lead-spacing-mixin() {
  padding: 0 $cdr-space-four-x;
  @include cdr-lg-mq-down {
    padding: 0 $cdr-space-three-x;
  }
  @include cdr-md-mq-down {
    padding: 0 $cdr-space-two-x;
  }
  @include cdr-sm-mq-down {
    padding: 0 $cdr-space-one-x;
  }
}