//@import url('@rei/cedar/dist/style/cdr-text.css');
@import '../../text/styles/CdrText.module.scss';
@import '../../../styles/settings/_index.scss';
@import './vars/CdrQuote.vars.scss';

/* ==========================================================================
  # Cdrquote

  TOC:

    :Base - Cdrquote
========================================================================== */

.cdr-quote {
  @include cdr-quote-base-container;

  &__summary {
    @include cdr-quote-base-content;
  }

  &--pull {
    @include cdr-quote-pull-container;
    .cdr-quote__summary {
      @include cdr-quote-pull-content;
    }
  }
}
