$timing-function: $cdr-timing-function-ease-out;

@mixin cdr-toast-base-mixin() {
  position: relative;
  border-left: 0.4rem solid;
  box-shadow: $cdr-prominence-floating;
  margin-bottom: $cdr-space-one-x;
  @include cdr-text-utility-sans-200;
  @include cdr-sm-mq-up {
    width: 39rem;
  }
}
@mixin cdr-toast-default-mixin() {
  //ITEM_DOC: Default background color of cdr-toast
  background-color: var(--cdr-toast-background-color-default, var(--cdr-color-background-message-default-01, #{$cdr-color-background-message-default-01}));
  outline: thin solid;
  //ITEM_DOC: Default outline color of cdr-toast
  outline-color: var(--cdr-toast-outline-color-default, var(--cdr-color-border-message-default-02, #{$cdr-color-border-message-default-02}));
  outline-offset: -1px;
}

@mixin cdr-toast-info-mixin() {
  //ITEM_DOC: Info background color of cdr-toast
  background-color:  var(--cdr-toast-background-color-info, var(--cdr-color-background-message-info-01, #{$cdr-color-background-message-info-01}));
  outline: thin solid;
  outline-color: $cdr-color-border-message-info-02;
  outline-offset: -1px;
}

@mixin cdr-toast-success-mixin() {
  //ITEM_DOC: Success background color of cdr-toast
  background-color:  var(--cdr-toast-background-color-success, var(--cdr-color-background-message-success-01, #{$cdr-color-background-message-success-01}));
  outline: thin solid;
  //ITEM_DOC: Success outline color of cdr-toast
  outline-color: var(--cdr-toast-outline-color-success, var(--cdr-color-border-message-success-02, #{$cdr-color-border-message-success-02}));
  outline-offset: -1px;
}

@mixin cdr-toast-warning-mixin() {
  //ITEM_DOC: Warning background color of cdr-toast
  background-color:  var(--cdr-toast-background-color-warning, var(--cdr-color-background-message-warning-01, #{$cdr-color-background-message-warning-01}));
  outline: thin solid;
  //ITEM_DOC: Warning outline color of cdr-toast
  outline-color: var(--cdr-toast-outline-color-warning, var(--cdr-color-border-message-warning-02, #{$cdr-color-border-message-warning-02}));
  outline-offset: -1px;
}

@mixin cdr-toast-error-mixin() {
  //ITEM_DOC: Error background color of cdr-toast
  background-color:  var(--cdr-toast-background-color-error, var(--cdr-color-background-message-error-01, #{$cdr-color-background-message-error-01}));
  outline: thin solid;
  //ITEM_DOC: Error outline color of cdr-toast
  outline-color: var(--cdr-toast-outline-color-error, var(--cdr-color-border-message-error-02, #{$cdr-color-border-message-error-02}));
  outline-offset: -1px;
}
