@use '@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;
@use './vars/CdrBreadcrumb.vars' as vars;

.cdr-breadcrumb {
  line-height: 1;

  /* List
  ========== */
  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  /* Item
  ========== */
  &__item {
    display: inline-flex;
    flex: none;
    padding: 0;

    @include vars.cdr-breadcrumb-item-mixin;
  }


  /* Link
  ---------- */
  &__link {
    @include vars.cdr-breadcrumb-item-linked-mixin;
  }

  /* Delimiter
  ========== */
  &__delimiter {
    color: inherit;
    padding: 0 tokens.$cdr-space-half-x;
  }

  /* Ellipses
    ========== */
  &__ellipses {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    background: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    fill: inherit;
    padding: 0;

    /* Ellipses Icon
    ========== */
    .cdr-breadcrumb__ellipses-icon {
      //ITEM_DOC: Ellipses icon color
      color: var(--cdr-breadcrumb-ellipses-icon-color, var(--cdr-color-text-secondary, #{tokens.$cdr-color-text-secondary}));
      border-bottom: 1px solid transparent;
      fill: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      .cdr-breadcrumb__ellipses-icon {
        //ITEM_DOC: Ellipses icon hover, active and focus color
        color: var(--cdr-breadcrumb-ellipses-icon-highlight-color, var(--cdr-color-text-link-hover, #{tokens.$cdr-color-text-link-hover}));
        text-decoration: underline;
      }
    }
  }

  &__link,
  &__delimiter,
  &__ellipses {
    @include vars.cdr-breadcrumb-xs-text-mixin;
  }

  @include tokens.cdr-md-mq-up {
    &__link,
    &__delimiter,
    &__ellipses {
      @include vars.cdr-breadcrumb-base-text-mixin;
    }
  }
}
