@mixin cdr-status-icon-base-mixin() {
  svg {
    max-height: 2.2rem;
    max-width: 2.2rem;
    stroke: white;
    stroke-width: 0.4rem;
    paint-order: stroke fill;
    margin: $cdr-space-quarter-x;
  }
}

@mixin cdr-status-icon-default-mixin() {
  fill: var(
    --cdr-status-icon-default-icon-fill,
    var(--cdr-color-icon-message-default, #{$cdr-color-icon-message-default})
  );
}

@mixin cdr-status-icon-info-mixin() {
  fill: var(
    --cdr-status-icon-default-icon-fill,
    var(--cdr-color-border-message-info-01, #{$cdr-color-border-message-info-01})
  );
}

@mixin cdr-status-icon-warning-mixin() {
  fill: var(
    --cdr-status-icon-default-icon-fill,
    var(--cdr-color-border-message-warning-01, #{$cdr-color-border-message-warning-01})
  );
}

@mixin cdr-status-icon-success-mixin() {
  fill: var(
    --cdr-status-icon-default-icon-fill,
    var(--cdr-color-icon-message-success, #{$cdr-color-icon-message-success})
  );
}

@mixin cdr-status-icon-error-mixin() {
  fill: var(
    --cdr-status-icon-default-icon-fill,
    var(--cdr-color-border-message-error-01, #{$cdr-color-border-message-error-01})
  );
}
