@import '../../../../styles/settings/index.scss';

$media-object-component: 'media-object';
$content-alignment: start, center, end;

@mixin cdr-media-object-media-mixin() {
  & > svg,
  & > img,
  & > picture > img,
  & > video {
    @content;
  }
}

@mixin cdr-media-object-base-mixin($component) {
  & > :first-child {
    grid-area: media;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include cdr-media-object-media-mixin {
      height: 100%;
    }
  }

  & > :last-child {
    grid-area: content;
  }

  &--media-fit {
    & > :first-child {
      @include cdr-media-object-media-mixin {
        object-fit: var(--cdr-#{$component}-media-fit);
        object-position: var(--cdr-#{$component}-media-position);
        height: 100%;
        width: 100%;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}

@mixin cdr-media-object-content-alignment-mixin() {
  @each $alignment in $content-alignment {
    &--content-alignment-#{$alignment} {
      align-items: $alignment;
    }
  }
}

@mixin cdr-media-object-content-position-mixin($component) {
  grid-template-areas: var(--cdr-#{$component}-content-position);

  &--content-position-cq {
    --cdr-#{$component}-content-position: var(--cdr-#{$component}-content-position-xs);

    @include cdr-sm-cq-up {
      --cdr-#{$component}-content-position: var(--cdr-#{$component}-content-position-sm);
    }

    @include cdr-md-cq-up {
      --cdr-#{$component}-content-position: var(--cdr-#{$component}-content-position-md);
    }

    @include cdr-lg-cq-up {
      --cdr-#{$component}-content-position: var(--cdr-#{$component}-content-position-lg);
    }
  }
}
