@mixin cdr-caption-container-mixin() {
  max-width: 530px;
  line-height: 1;
  padding: $cdr-space-half-x 0;
}

@mixin cdr-caption-summary-mixin() {
  font-family: $cdr-font-family-sans;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 2.2rem;

  margin: 0;
  
  //ITEM_DOC: Text color of a cdr-caption
  color: var(--cdr-caption-summary-color, var(--cdr-color-text-primary, #{$cdr-color-text-primary}));

  & + cite {
    display: inline-block;
    margin-top: $cdr-space-half-x;
  }
}

@mixin cdr-caption-cite-mixin() {
  font-family: $cdr-font-family-sans;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 1.8rem;

  //ITEM_DOC: Text color of a cdr-caption
  color: var(--cdr-caption-cite-color, var(--cdr-color-text-secondary, #{$cdr-color-text-secondary}));
  font-style: normal;
}
