@use './vars/CdrToggleButton.maps' as maps;
@use 'sass:map';
@use '@rei/cdr-tokens/scss' as tokens;
@use './vars/CdrToggleButton.vars' as vars;

.cdr-toggle-button {
  &__item {
    @include vars.cdr-toggle-button-base-text-mixin-medium;

    display: flex;
    justify-content: center;
    gap: 0.3rem;
    border: 0.2rem solid transparent;
    border-radius: 0.3rem;

    // ITEM_DOC: Default text color of the cdr-toggle-button
    color: var(
      --cdr-toggle-button-color-default-rest,
      #{map.get(maps.$toggle-button-defaults, text)}
    );

    // ITEM_DOC: Default background color of the cdr-toggle-button
    background-color: var(
      --cdr-toggle-button-background-color-default-rest,
      #{map.get(maps.$toggle-button-defaults, surface)}
    );
    width: 100%;
    height: 100%;

    &:focus {
      outline: none;
      padding: 0.7rem 1.3rem;
      border-radius: 0.3rem;

      // ITEM_DOC: Focus border color of the cdr-toggle-button
      border: 0.3rem solid
        var(
          --cdr-toggle-button-border-color-default-focus,
          #{map.get(maps.$toggle-button-defaults, border-focus)}
        );

      // ITEM_DOC: Focus background color of the cdr-toggle-button
      background-color: var(
        --cdr-toggle-button-background-color-default-focus,
        #{map.get(maps.$toggle-button-defaults, surface-focus)}
      );
    }

    svg {
      // ITEM_DOC: Default fill color of the cdr-toggle-button's svg
      fill: var(
        --cdr-toggle-button-icon-fill-default,
        #{map.get(maps.$toggle-button-defaults, icon)}
      );
    }

    &[aria-checked='true'] {
      // ITEM_DOC: Selected background color of the cdr-toggle-button at rest
      background-color: var(
        --cdr-toggle-button-background-color-default-selected-rest,
        #{map.get(maps.$toggle-button-defaults, surface-selected)}
      );
      padding: 0.8rem 1.4rem;

      // ITEM_DOC: Selected border color of the cdr-toggle-button at rest
      border: 0.2rem solid
        var(
          --cdr-toggle-button-border-color-default-selected-rest,
          #{map.get(maps.$toggle-button-defaults, border-selected)}
        );
      border-radius: 0.2rem;
      font-weight: 500;
      margin: 0;

      svg {
        // ITEM_DOC: Selected fill color of the cdr-toggle-button's svg at rest
        fill: var(
          --cdr-toggle-button-icon-fill-selected-rest,
          #{map.get(maps.$toggle-button-defaults, icon-selected)}
        );
      }

      &:focus {
        padding: 0.7rem 1.3rem;

        // ITEM_DOC: Selected border color of the cdr-toggle-button on focus
        border: 0.3rem solid
          var(
            --cdr-toggle-button-border-color-default-selected-focus,
            #{map.get(maps.$toggle-button-defaults, border-selected-focus)}
          );
        border-radius: 0.2rem;
      }

      &:hover {
        // ITEM_DOC: Selected background color of the cdr-toggle-button on hover
        background-color: var(
          --cdr-toggle-button-background-color-default-selected-hover,
          #{map.get(maps.$toggle-button-defaults, surface-selected-hover)}
        );
      }
    }

    &:hover {
      // ITEM_DOC: Background color of the cdr-toggle-button on hover
      background-color: var(
        --cdr-toggle-button-background-color-default-hover,
        #{map.get(maps.$toggle-button-defaults, surface-hover)}
      );
      padding: 0.7rem 1.3rem;
      border-radius: 0.2rem;

      &:focus {
        // ITEM_DOC: Hover border color of the cdr-toggle-button on focus
        border: 0.3rem solid
          var(
            --cdr-toggle-button-border-color-hover-focus,
            #{map.get(maps.$toggle-button-defaults, border-selected-focus)}
          );
        padding: 0.7rem 1.3rem;
      }
    }
  }

  &__container {
    list-style-type: none;
  }
}
