@use './vars/CdrFormError.vars' as vars;

.cdr-form-error {
  @include vars.cdr-form-error-base-mixin;
  height: 0;
  margin: 0;

  &__icon {
    @include vars.cdr-form-error-icon-mixin;
    display: none;

    &--active {
      display: inline;
    }
  }
}

.--active-error {
  height: auto;
  margin-top: .4rem;
}
