@use './vars/CdrFormError.vars' as vars;

.cdr-form-error {
  @include vars.cdr-form-error-base-mixin;

  height: 0;
  margin: 0;

  &__icon {
    @include vars.cdr-form-error-icon-mixin;
  }

  &--active {
    height: auto;
    padding: 0.4rem;
  }
}
