@use '@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

$modal-animation-duration: 150ms;

.cdr-modal {
  inset: 0;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  visibility: visible;
  z-index: 9999;

  @supports (-webkit-touch-callout: none) {
    & * {
      will-change: transform;
    }
  }

  &__overlay {
    //ITEM_DOC: Background color of the modal overlay
    background-color: var(--cdr-modal-overlay-background-color, var(--cdr-color-background-modal-overlay, #{tokens.$cdr-color-background-modal-overlay}));
    backdrop-filter: blur(tokens.$cdr-space-one-x);
    inset: 0;
    opacity: 1;
    position: fixed;
    transition: opacity $modal-animation-duration;
    z-index: 0;
  }

  &__outerWrap {
    display: flex;
    box-sizing: border-box;
    min-height: 100%;
    position: static;
    z-index: -1;
  }

  &__contentWrap {
    align-items: flex-start;

    //ITEM_DOC: Background color of the content wrap
    background-color: var(--cdr-modal-content-wrap-background-color, var(--cdr-color-background-primary, #{tokens.$cdr-color-background-primary}));
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity $modal-animation-duration $modal-animation-duration;
    width: 100%;
    z-index: 0;

    &:focus {
      outline: 0;
    }
  }

  &__innerWrap {
    width: 100%;
    padding: tokens.$cdr-space-one-x;
  }

  &__dialog {
    width: 100%;
  }

  &__content {
    position: relative;
  }

  &__header {
    display: flex;
    padding-bottom: tokens.$cdr-space-one-x;
    justify-content: space-between;
  }

  &__title {
    flex: auto;

    @include tokens.cdr-text-heading-serif-600;
  }

  &__close-button {
    flex: none;
    align-self: center;
    margin-left: tokens.$cdr-space-half-x;
    padding: 7px;
    position: relative;
    top: -2px;
    right: -4px;
  }

  &__text-content {
    padding: 0;
    overflow: auto;
    position: relative;
  }

  @media (min-width: tokens.$cdr-breakpoint-sm) {
    &__outerWrap {
      padding: tokens.$cdr-space-one-x;
    }

    &__innerWrap {
      padding: tokens.$cdr-space-one-and-a-half-x;
    }

    &__contentWrap {
      border-radius: tokens.$cdr-radius-softer;
      box-shadow: tokens.$cdr-prominence-lifted;
      min-height: auto;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
    }

    &__dialog {
      max-width: 640px;
    }

    &__close-button {
      margin-left: tokens.$cdr-space-three-quarter-x;
      right: -8px;
      top: -5px;
    }
  }
}

.cdr-modal--closed {
  transition: z-index 0s $modal-animation-duration * 2,
  visibility 0s $modal-animation-duration * 2;
  visibility: hidden;
  z-index: -1;

  .cdr-modal__overlay {
    opacity: 0;
    transition: opacity $modal-animation-duration $modal-animation-duration;
  }

  .cdr-modal__contentWrap {
    opacity: 0;
    transition: opacity $modal-animation-duration;
  }
}

:global(.cdr-modal__noscroll) {
  overflow: hidden !important;
  position: fixed !important;
  width: 100%;
}
