@use './vars/CdrSwitch.maps' as maps;
@use 'sass:map';
@use '@rei/cdr-tokens/scss' as tokens;

.cdr-switch {
  display: flex;
  align-items: center;

  &__button {
    margin: 0 tokens.$cdr-space-quarter-x;
    padding: 0;
    position: relative;
    overflow: hidden;

    // ITEM_DOC: Border of the cdr-switch button
    border: 0.1rem solid var(--cdr-switch-border-color, #{map.get(maps.$switch-defaults, border)});

    // ITEM_DOC: Background color of the cdr-switch button
    background-color: var(
      --cdr-switch-background-color,
      #{map.get(maps.$switch-defaults, surface)}
    );

    .cdr-switch__button-icon {
      // ITEM_DOC: Fill of the cdr-switch x and check icons
      fill: var(--cdr-switch-icon-fill, #{map.get(maps.$switch-defaults, icon)});
    }

    &:focus {
      // ITEM_DOC: Box-shadow of the cdr-switch button on focus
      box-shadow: 0 0 0 0.2rem
        var(--cdr-switch-box-shadow-color-focus, #{map.get(maps.$switch-defaults, border)});
      outline: none;

      // ITEM_DOC: Background color of the cdr-switch button on focus
      background-color: var(
        --cdr-switch-background-color-focus,
        #{map.get(maps.$switch-defaults, surface-focus)}
      );

      .cdr-switch__button-icon {
        // ITEM_DOC: Fill of the cdr-switch x and check icons on focus
        fill: var(--cdr-switch-icon-fill-focus, #{map.get(maps.$switch-defaults, icon)});
      }

      .cdr-switch__handle {
        &::before {
          // ITEM_DOC: Background color of the cdr-switch handle before on focus
          background-color: var(
            --cdr-switch-handle-background-color-focus,
            #{map.get(maps.$switch-defaults, handle-surface-focus)}
          );
        }
      }
    }

    &:hover:not(:focus) {
      // ITEM_DOC: Border of the cdr-switch button on hover when not in focus
      border: 0.1rem solid
        var(--cdr-switch-hover-border-color, #{map.get(maps.$switch-defaults, border-hover)});

      // ITEM_DOC: Background color of the cdr-switch button on hover when not in focus
      background-color: var(
        --cdr-switch-background-color-hover,
        #{map.get(maps.$switch-defaults, surface-hover)}
      );

      .cdr-switch__button-icon {
        // ITEM_DOC: Fill of the cdr-switch x and check icons on hover when not in focus
        fill: var(--cdr-switch-icon-fill-hover, #{map.get(maps.$switch-defaults, icon-hover)});
      }

      .cdr-switch__handle {
        &::before {
          // ITEM_DOC: Border of the cdr-switch handle on hover when not in focus
          border: 0.1rem solid
            var(
              --cdr-switch-handle-border-color-hover,
              #{map.get(maps.$switch-defaults, border-hover)}
            );
        }
      }
    }

    &[aria-checked='true'] {
      border: none;

      // ITEM_DOC: Background color of the cdr-switch button when it is checked
      background-color: var(
        --cdr-switch-background-color-checked,
        #{map.get(maps.$switch-defaults, surface-checked)}
      );

      .cdr-switch__button-icon {
        // ITEM_DOC: Fill of the cdr-switch x and check icons when it is checked
        fill: var(--cdr-switch-icon-fill-checked, #{map.get(maps.$switch-defaults, icon-checked)});
      }

      &:focus {
        // ITEM_DOC: Box-shadow of the cdr-switch button when it is checked and in focus
        box-shadow: 0 0 0 0.2rem
          var(
            --cdr-switch-box-shadow-color-checked-focus,
            #{map.get(maps.$switch-defaults, border)}
          );

        // ITEM_DOC: Background color of the cdr-switch button when it is checked and in focus
        background-color: var(
          --cdr-switch-background-color-checked-focus,
          #{map.get(maps.$switch-defaults, surface-checked-focus)}
        );
        outline: none;

        .cdr-switch__handle {
          &::before {
            // ITEM_DOC: Border of the cdr-switch handle when it is checked and in focus
            border: 0.1rem solid
              var(
                --cdr-switch-handle-border-color-checked-focus,
                #{map.get(maps.$switch-defaults, handle-border-focus)}
              );

            // ITEM_DOC: Background color of the cdr-switch handle when it is checked and in focus
            background-color: var(
              --cdr-switch-handle-background-color-checked-focus,
              #{map.get(maps.$switch-defaults, handle-surface-checked-focus)}
            );
          }
        }

        .cdr-switch__button-icon {
          // ITEM_DOC: Fill of the cdr-switch x and check icons when it is checked and in focus
          fill: var(
            --cdr-switch-icon-fill-checked-focus,
            #{map.get(maps.$switch-defaults, icon-checked-focus)}
          );
        }
      }

      .cdr-switch__handle {
        &::before {
          border: none;

          // ITEM_DOC: Background color of the cdr-switch handle when it is checked
          background-color: var(
            --cdr-switch-handle-background-color-checked,
            #{map.get(maps.$switch-defaults, handle-surface-checked)}
          );
        }
      }

      &:hover:not(:focus) {
        // ITEM_DOC: Border of the cdr-switch button when it is checked and on hover but not in focus
        border: 0.1rem solid
          var(--cdr-switch-border-color-checked-hover, #{map.get(maps.$switch-defaults, border)});

        // ITEM_DOC: Background color of the cdr-switch button when it is checked and on hover but not in focus
        background-color: var(
          --cdr-switch-background-color-checked-hover,
          #{map.get(maps.$switch-defaults, surface-checked-hover)}
        );

        .cdr-switch__button-icon {
          // ITEM_DOC: Fill of the cdr-switch x and check icons when it is checked and on hover but not in focus
          fill: var(
            --cdr-switch-icon-fill-checked-hover,
            #{map.get(maps.$switch-defaults, icon-checked-hover)}
          );
        }

        .cdr-switch__handle {
          &::before {
            // ITEM_DOC: Border of the cdr-switch handle when it is checked and on hover but not in focus
            border: 0.1rem solid
              var(
                --cdr-switch-handle-border-color-checked-hover,
                #{map.get(maps.$switch-defaults, handle-border-hover)}
              );
          }
        }
      }
    }
  }

  &__label {
    margin: 0 tokens.$cdr-space-quarter-x;

    @include tokens.cdr-text-utility-sans-300;
  }

  &__handle {
    position: absolute;
    cursor: pointer;
    inset: 0;
    transition: tokens.$cdr-duration-3-x tokens.$cdr-timing-function-ease-out;

    &::before {
      position: absolute;
      content: '';

      // ITEM_DOC: Border color of the cdr-switch handle
      border: 0.1rem solid
        var(--cdr-switch-handle-border, #{map.get(maps.$switch-defaults, border)});

      // ITEM_DOC: Background color of the cdr-switch handle
      background-color: var(
        --cdr-switch-handle-background-color-rest,
        #{map.get(maps.$switch-defaults, handle-surface)}
      );
      transition:
        left tokens.$cdr-duration-3-x tokens.$cdr-timing-function-ease-out,
        right tokens.$cdr-duration-3-x tokens.$cdr-timing-function-ease-out;
    }
  }

  &--full-width {
    width: 100%;
    justify-content: space-between;
  }

  &--large {
    .cdr-switch {
      &__button {
        width: 6rem;
        height: 3.1rem;
        border-radius: 1.6rem;

        &[aria-checked='true'] {
          .cdr-switch__handle {
            &::before {
              left: 3.2rem;
              top: 0.4rem;
            }
          }

          &:hover:not(:focus) {
            .cdr-switch__handle {
              &::before {
                top: 0.3rem;
              }
            }
          }
        }
      }

      &__button-icon {
        height: 2.4rem;
        width: 2.4rem;
      }

      &__handle {
        &::before {
          border-radius: 1.4rem;
          height: 2.3rem;
          width: 2.3rem;
          top: 0.3rem;
          left: 0.3rem;
        }
      }
    }
  }

  &--medium {
    .cdr-switch {
      &__button {
        width: 4.2rem;
        height: 2.3rem;
        border-radius: 1.4rem;

        &[aria-checked='true'] {
          .cdr-switch__handle {
            &::before {
              left: 2.2rem;
              width: 1.5rem;
              height: 1.5rem;
              top: 0.4rem;
            }
          }

          &:hover:not(:focus) {
            .cdr-switch__handle {
              &::before {
                left: 2.2rem;
                top: 0.3rem;
              }
            }
          }
        }
      }

      &__button-icon {
        height: 1.5rem;
        width: 1.5rem;
      }

      &__handle {
        &::before {
          border-radius: 1.4rem;
          height: 1.5rem;
          width: 1.5rem;
          top: 0.3rem;
          left: 0.3rem;
        }
      }
    }
  }
}
