@import '../../../styles/settings/_index.scss';

.cdr-switch {
  display: flex;
  align-items: center;

  &__button {
    margin: 0 $cdr-space-quarter-x;
    padding: 0;
    position: relative;
    overflow: hidden;
    //ITEM_DOC: Border of the cdr-switch button
    border: 0.1rem solid var(--cdr-switch-border-color, var(--cdr-color-border-secondary, #{$cdr-color-border-secondary}));
    //ITEM_DOC: Background color of the cdr-switch button
    background-color: var(--cdr-switch-background-color, var(--cdr-color-background-switch-default-rest, #{$cdr-color-background-switch-default-rest}));

    .cdr-switch__button-icon {
      //ITEM_DOC: Fill of the cdr-switch x and check icons
      fill: var(--cdr-switch-icon-fill, var(--cdr-color-icon-default, #{$cdr-color-icon-default}));
    }

    &:focus {
      //ITEM_DOC: Box-shadow of the cdr-switch button on focus
      box-shadow: 0 0 0 0.2rem var(--cdr-switch-box-shadow-color-focus, var(--cdr-color-border-secondary, #{$cdr-color-border-secondary}));
      outline: none;
      //ITEM_DOC: Background color of the cdr-switch button on focus
      background-color: var(--cdr-switch-background-color-focus, var(--cdr-color-background-switch-default-focus, #{$cdr-color-background-switch-default-focus}));

      .cdr-switch__button-icon {
        //ITEM_DOC: Fill of the cdr-switch x and check icons on focus
        fill: var(--cdr-switch-icon-fill-focus, var(--cdr-color-icon-default, #{$cdr-color-icon-default}));
      }

      .cdr-switch__handle {
        &::before {
          //ITEM_DOC: Background color of the cdr-switch handle before on focus
          background-color: var(--cdr-switch-handle-background-color-focus, var(--cdr-color-background-switch-handle-default-focus, #{$cdr-color-background-switch-handle-default-focus}));
        }
      }
    }

    &:hover:not(:focus) {
      //ITEM_DOC: Border of the cdr-switch button on hover when not in focus
      border: 0.1rem solid var(--cdr-switch-hover-border-color, var(--cdr-color-border-switch-default-hover, #{$cdr-color-border-switch-default-hover}));
      //ITEM_DOC: Background color of the cdr-switch button on hover when not in focus
      background-color: var(--cdr-switch-background-color-hover, var(--cdr-color-background-switch-default-hover, #{$cdr-color-background-switch-default-hover}));

      .cdr-switch__button-icon {
        //ITEM_DOC: Fill of the cdr-switch x and check icons on hover when not in focus
        fill: var(--cdr-switch-icon-fill-hover, var(--cdr-color-icon-emphasis, #{$cdr-color-icon-emphasis}));
      }

      .cdr-switch__handle {
        &::before {
          //ITEM_DOC: Border of the cdr-switch handle on hover when not in focus
          border: 0.1rem solid var(--cdr-switch-handle-border-color-hover, var(--cdr-color-border-switch-default-hover, #{$cdr-color-border-switch-default-hover}));
        }
      }
    }

    &[aria-checked="true"] {
      border: none;
      //ITEM_DOC: Background color of the cdr-switch button when it is checked
      background-color: var(--cdr-switch-background-color-checked, var(--cdr-color-background-switch-selected-default-rest, #{$cdr-color-background-switch-selected-default-rest}));

      .cdr-switch__button-icon {
        //ITEM_DOC: Fill of the cdr-switch x and check icons when it is checked
        fill: var(--cdr-switch-icon-fill-checked, var(--cdr-color-icon-switch-selected-default-rest, #{$cdr-color-icon-switch-selected-default-rest}));
      }

      &:focus {
        //ITEM_DOC: Box-shadow of the cdr-switch button when it is checked and in focus
        box-shadow: 0 0 0 0.2rem var(--cdr-switch-box-shadow-color-checked-focus, var(--cdr-color-border-secondary, #{$cdr-color-border-secondary}));
        //ITEM_DOC: Background color of the cdr-switch button when it is checked and in focus
        background-color: var(--cdr-switch-background-color-checked-focus, var(--cdr-color-background-switch-selected-default-focus, #{$cdr-color-background-switch-selected-default-focus}));
        outline: none;

        .cdr-switch__handle {
          &::before {
            //ITEM_DOC: Border of the cdr-switch handle when it is checked and in focus
            border: 0.1rem solid var(--cdr-switch-handle-border-color-checked-focus, var(--cdr-color-border-switch-handle-default-focus, #{$cdr-color-border-switch-handle-default-focus}));
            //ITEM_DOC: Background color of the cdr-switch handle when it is checked and in focus
            background-color: var(--cdr-switch-handle-background-color-checked-focus, var(--cdr-color-background-switch-handle-selected-default-focus, #{$cdr-color-background-switch-handle-selected-default-focus}));
          }
        }

        .cdr-switch__button-icon {
          //ITEM_DOC: Fill of the cdr-switch x and check icons when it is checked and in focus
          fill: var(--cdr-switch-icon-fill-checked-focus, var(--cdr-color-icon-switch-selected-default-focus, #{$cdr-color-icon-switch-selected-default-focus}));
        }
      }

      .cdr-switch__handle {
        &::before {
          border: none;
          //ITEM_DOC: Background color of the cdr-switch handle when it is checked
          background-color: var(--cdr-switch-handle-background-color-checked, var(--cdr-color-background-switch-handle-selected-default-rest, #{$cdr-color-background-switch-handle-selected-default-rest}));
        }
      }

      &:hover:not(:focus) {
        //ITEM_DOC: Border of the cdr-switch button when it is checked and on hover but not in focus
        border: 0.1rem solid var(--cdr-switch-border-color-checked-hover, var(--cdr-color-border-secondary, #{$cdr-color-border-secondary}));
        //ITEM_DOC: Background color of the cdr-switch button when it is checked and on hover but not in focus
        background-color: var(--cdr-switch-background-color-checked-hover, var(--cdr-color-background-switch-selected-default-hover, #{$cdr-color-background-switch-selected-default-hover}));

        .cdr-switch__button-icon {
          //ITEM_DOC: Fill of the cdr-switch x and check icons when it is checked and on hover but not in focus
          fill: var(--cdr-switch-icon-fill-checked-hover, var(--cdr-color-icon-switch-selected-default-hover, #{$cdr-color-icon-switch-selected-default-hover}));
        }

        .cdr-switch__handle {
          &::before {
            //ITEM_DOC: Border of the cdr-switch handle when it is checked and on hover but not in focus
            border: 0.1rem solid var(--cdr-switch-handle-border-color-checked-hover, var(--cdr-color-border-switch-handle-default-hover, #{$cdr-color-border-switch-handle-default-hover}));
          }
        }
      }
    }
  }

  &__label {
    margin: 0 $cdr-space-quarter-x;
    @include cdr-text-utility-sans-300;
  }

  &__handle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: $cdr-duration-3-x $cdr-timing-function-ease-out;
    transition: $cdr-duration-3-x $cdr-timing-function-ease-out;

    &::before {
      position: absolute;
      content: "";
      //ITEM_DOC: Border color of the cdr-switch handle
      border: 0.1rem solid var(--cdr-switch-handle-border, var(--cdr-color-border-secondary, #{$cdr-color-border-secondary}));
      //ITEM_DOC: Background color of the cdr-switch handle
      background-color: var(--cdr-switch-handle-background-color-rest, var(--cdr-color-background-switch-handle-default-rest, #{$cdr-color-background-switch-handle-default-rest}));
      -webkit-transition: left $cdr-duration-3-x $cdr-timing-function-ease-out, right $cdr-duration-3-x $cdr-timing-function-ease-out;
      transition: left $cdr-duration-3-x $cdr-timing-function-ease-out, right $cdr-duration-3-x $cdr-timing-function-ease-out;
    }
  }


  &--full-width {
    width: 100%;
    justify-content: space-between;
  }

  &--large {
    .cdr-switch {
      &__button {
        width: 6.0rem;
        height: 3.1rem;
        border-radius: 1.6rem;

        &[aria-checked="true"] {
          .cdr-switch__handle {
            &::before {
              left: 3.2rem;
              top: 0.4rem;
            }
          }

          &:hover:not(:focus) {
            .cdr-switch__handle {
              &::before {
                top: 0.3rem;
              }
            }
          }
        }
      }

      &__button-icon {
        height: 2.4rem;
        width: 2.4rem;
      }

      &__handle {
        &::before {
          border-radius: 1.4rem;
          height: 2.3rem;
          width: 2.3rem;
          top: 0.3rem;
          left: 0.3rem;
        }
      }
    }
  }

  &--medium {
    .cdr-switch {
      &__button {
        width: 4.2rem;
        height: 2.3rem;
        border-radius: 1.4rem;

        &[aria-checked="true"] {
          .cdr-switch__handle {
            &::before {
              left: 2.2rem;
              width: 1.5rem;
              height: 1.5rem;
              top: .4rem;
            }
          }

          &:hover:not(:focus) {
            .cdr-switch__handle {
              &::before {
                left: 2.2rem;
                top: .3rem;
              }
            }
          }
        }
      }

      &__button-icon {
        height: 1.5rem;
        width: 1.5rem;
      }

      &__handle {
        &::before {
          border-radius: 1.4rem;
          height: 1.5rem;
          width: 1.5rem;
          top: .3rem;
          left: .3rem;
        }
      }
    }
  }
}
