@use '/node_modules/@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

@use './vars/CdrLabelWrapper.vars' as vars;

.cdr-label-wrapper {
  @include vars.cdr-label-wrapper-base-mixin;

  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  position: relative;
  user-select: none;

  &__container {
    font-size: 0;
    line-height: 1;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &--primary {
    @include vars.cdr-label-wrapper-primary-mixin;
  }

  &--secondary {
    @include vars.cdr-label-wrapper-secondary-mixin;
  }

  &--disabled {
    @include vars.cdr-label-wrapper-disabled-mixin;

    .cdr-label-wrapper__figure {
      cursor: not-allowed !important;
    }
  }

  &__figure {
    @include vars.cdr-form-figure-base-mixin;
  }

  &__content {
    user-select: text;
  }

  &--hide-figure {
    padding-left: 0;

    & > .cdr-label-wrapper__figure {
      display: none;
    }

    & > .cdr-checkbox__svg-box svg {
      fill: transparent !important;
    }
  }



  /* Sizes
    ========================================================================== */
  @include vars.label-wrapper-small-mixin;
  @include vars.label-wrapper-medium-mixin;
  @include vars.label-wrapper-large-mixin;

  /* Breakpoint variants

  /* @xs
    0px - 767px
    ========== */
  @include tokens.cdr-xs-mq-only {
    @include vars.label-wrapper-small-mixin(\@xs);
    @include vars.label-wrapper-medium-mixin(\@xs);
    @include vars.label-wrapper-large-mixin(\@xs);
  }

  /* @sm
    768px - 991px
    ========== */
  @include tokens.cdr-sm-mq-only {
    @include vars.label-wrapper-small-mixin(\@sm);
    @include vars.label-wrapper-medium-mixin(\@sm);
    @include vars.label-wrapper-large-mixin(\@sm);
  }

  /* @md
    992px - 1199px
    ========== */
  @include tokens.cdr-md-mq-only {
    @include vars.label-wrapper-small-mixin(\@md);
    @include vars.label-wrapper-medium-mixin(\@md);
    @include vars.label-wrapper-large-mixin(\@md);
  }

  /* @lg
    1200px and up
    ========== */

  @include tokens.cdr-lg-mq-only {
    @include vars.label-wrapper-small-mixin(\@lg);
    @include vars.label-wrapper-medium-mixin(\@lg);
    @include vars.label-wrapper-large-mixin(\@lg);
  }
}
