@use '/node_modules/@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

/**
 * Base styles for CdrLink.
 * Uses custom properties for easy theming and overrides.
 * - Typography/layout: font, size, alignment, etc.
 * - Color: uses --cdr-link-text-color and --cdr-link-fill-color for theming.
 * - Decoration: uses --cdr-link-text-decoration for underline/none.
 */
@mixin cdr-link-base-mixin() {
  font-family: var(--cdr-link-font-family, inherit);
  font-size: var(--cdr-link-font-size, inherit);
  line-height: var(--cdr-link-line-height, inherit);
  align-items: var(--cdr-link-align-items, center);
  background-color: var(--cdr-link-background-color, transparent);
  border: var(--cdr-link-border, 0);
  margin: var(--cdr-link-margin, 0);
  cursor: var(--cdr-link-cursor, pointer);
  display: var(--cdr-link-display, inline-flex);
  outline: var(--cdr-link-outline, none);
  padding: var(--cdr-link-padding, 0);
  vertical-align: var(--cdr-link-vertical-align, top);

  // Themed color and decoration
  color: var(--cdr-link-text-color, var(--cdr-color-text-link-rest, var(--cdr-color-text-link-rest, #{tokens.$cdr-color-text-link-rest})));
  fill: var(--cdr-link-fill-color, var(--cdr-color-text-link-rest, var(--cdr-color-text-link-rest, #{tokens.$cdr-color-text-link-rest})));
  text-decoration: var(--cdr-link-text-decoration, underline);

  &:active,
  &:focus {
    color: var(--cdr-link-active-text-color-active, var(--cdr-color-text-link-active, var(--cdr-color-text-link-active, #{tokens.$cdr-color-text-link-active})));
  }

  &:hover {
    color: var(--cdr-link-text-color-hover, var(--cdr-color-text-link-hover, var(--cdr-color-text-link-hover, #{tokens.$cdr-color-text-link-hover})));
    text-decoration: var(--cdr-link-text-decoration-hover, none);
  }

  &:focus {
    outline: 2px solid var(--cdr-color-outline, Highlight);
    outline-color: -webkit-focus-ring-color;
    outline-offset: 0;
  }
}

@mixin cdr-link-inherit-color-mixin() {
  // Inherit text and fill color from parent for the link and its icon content
  color: inherit !important;
  fill: inherit !important;
  --cdr-link-text-color: inherit;
  --cdr-link-fill-color: inherit ;
  --cdr-link-text-color-hover: inherit;
  --cdr-link-active-text-color-active: inherit ;
}

@mixin cdr-link-standalone-mixin() {
  // Standalone variant styles
  // Only set text-decoration if not already set by another variant
  --cdr-link-text-decoration: none;
  --cdr-link-text-decoration-hover: underline;
}

@mixin cdr-link-neutral-mixin() {
  // Neutral variant: all states use primary text color
  // Only set color variables if not already set by another variant
  --cdr-link-text-color: var(--cdr-color-text-primary, #{tokens.$cdr-color-text-primary});
  --cdr-link-text-color-hover:  var(--cdr-color-text-primary, #{tokens.$cdr-color-text-primary});
  --cdr-link-active-text-color-active: var(--cdr-color-text-primary, #{tokens.$cdr-color-text-primary});
}
