@use './CdrCheckbox.maps' as maps;
@use 'sass:map';
@use '@rei/cdr-tokens/scss' as tokens;

@mixin cdr-form-figure-checkbox-checked-mixin() {
  // ITEM_DOC: Box-shadow color of a checked cdr-checkbox
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-form-figure-checkbox-box-shadow-checked,
      #{map.get(maps.$checkbox-defaults, border-checked)}
    );

  // ITEM_DOC: Background color of a checked cdr-checkbox
  background-color: var(
    --cdr-form-figure-checkbox-background-color-checked,
    #{map.get(maps.$checkbox-defaults, surface-checked)}
  );
  background-repeat: no-repeat;
}

@mixin cdr-form-figure-checkbox-hover-mixin() {
  cursor: pointer;

  // ITEM_DOC: Box-shadow color of a hovered cdr-checkbox
  box-shadow:
    inset 0 0 0 1px
      var(
        --cdr-form-figure-checkbox-box-shadow-hover,
        #{map.get(maps.$checkbox-defaults, border-hover)}
      ),
    0 0 0 1px
      var(
        --cdr-form-figure-checkbox-box-shadow-hover,
        #{map.get(maps.$checkbox-defaults, border-hover)}
      );

  // ITEM_DOC: Background color of a hovered cdr-checkbox
  background-color: var(
    --cdr-form-figure-checkbox-background-hover,
    #{map.get(maps.$checkbox-defaults, surface-hover)}
  );
}

@mixin cdr-form-figure-checkbox-checked-hover-mixin() {
  // ITEM_DOC: Box-shadow color of a checked and hovered cdr-checkbox
  box-shadow:
    inset 0 0 0 1px
      var(
        --cdr-form-figure-checkbox-checked-box-shadow-hover,
        #{map.get(maps.$checkbox-defaults, border-checked-hover)}
      ),
    0 0 0 1px
      var(
        --cdr-form-figure-checkbox-checked-hover-box-shadow,
        #{map.get(maps.$checkbox-defaults, border-checked-hover)}
      );

  // ITEM_DOC: Background color of a checked and hovered cdr-checkbox
  background-color: var(
    --cdr-form-figure-checkbox-checked-background-hover,
    #{map.get(maps.$checkbox-defaults, surface-checked-hover)}
  );
}

@mixin cdr-form-figure-checkbox-disabled-mixin() {
  // ITEM_DOC: Box-shadow color of a cdr-checkbox when disabled
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-form-figure-checkbox-box-shadow-disabled,
      #{map.get(maps.$checkbox-defaults, border-disabled)}
    ) !important;

  // ITEM_DOC: Background color of a cdr-checkbox when disabled
  background-color: var(
    --cdr-form-figure-checkbox-background-disabled,
    #{map.get(maps.$checkbox-defaults, surface-disabled)}
  ) !important;
  background-image: none !important;
}

@mixin cdr-form-figure-checkbox-checked-disabled-mixin() {
  // ITEM_DOC: Background color of a checked cdr-checkbox when disabled
  background-color: var(
    --cdr-form-figure-checkbox-background-checked-disabled,
    #{map.get(maps.$checkbox-defaults, surface-disabled)}
  ) !important;
}

@mixin cdr-form-figure-checkbox-active-mixin() {
  // ITEM_DOC: Box-shadow color of a cdr-checkbox when active
  box-shadow:
    inset 0 0 0 1px
      var(
        --cdr-form-figure-checkbox-box-shadow-active,
        #{map.get(maps.$checkbox-defaults, border-active)}
      ),
    0 0 0 1px
      var(
        --cdr-form-figure-checkbox-box-shadow-active,
        #{map.get(maps.$checkbox-defaults, border-active)}
      );

  // ITEM_DOC: Background color of a cdr-checkbox when active
  background-color: var(
    --cdr-form-figure-checkbox-background-active,
    #{map.get(maps.$checkbox-defaults, surface-active)}
  );
}

@mixin cdr-form-figure-checkbox-focus-mixin() {
  // ITEM_DOC: Box-shadow color of a cdr-checkbox when focused
  box-shadow:
    inset 0 0 0 1px
      var(
        --cdr-form-figure-checkbox-box-shadow-focus,
        #{map.get(maps.$checkbox-defaults, border-active)}
      ),
    0 0 0 1px
      var(
        --cdr-form-figure-checkbox-box-shadow-focus,
        #{map.get(maps.$checkbox-defaults, border-active)}
      );

  // ITEM_DOC: Background color of a cdr-checkbox when focused
  background-color: var(
    --cdr-form-figure-checkbox-background-focus,
    #{map.get(maps.$checkbox-defaults, surface-focus)}
  );
}

@mixin cdr-form-figure-checkbox-checked-focus-mixin() {
  // ITEM_DOC: Background color of a checked cdr-checkbox when focused
  background-color: var(
    --cdr-form-figure-checkbox-background-checked-focus,
    #{map.get(maps.$checkbox-defaults, surface-checked-focus)}
  );
}
