@font-face {
  font-display: swap;
  font-family: Stuart;
  font-weight: 1 999;
  src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuart-VF-Web-Subset.woff2") format("woff2"); }

@font-face {
  font-family: "Stuart fallback";
  src: local("Georgia");
  size-adjust: 102.9695%;
  ascent-override: 95.1738%;
  descent-override: 20.5886%;
  line-gap-override: 0%;
}

@font-face {
  font-display: swap;
  font-family: Stuart;
  font-weight: 1 999;
  font-style: italic;
  src: url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Stuart/REIStuartWebItalics-VF-Web-Subset.woff2") format("woff2"); }

@font-face {
  font-display: swap;
  font-family: Graphik;
  font-weight: 1 999;
  src: url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/Graphik-VF-Web-Subset.woff2") format("woff2"); }

@font-face {
  font-family: "Graphik fallback";
  src: local("Helvetica Neue");
  size-adjust: 104.9217%;
  ascent-override: 93.4983%;
  descent-override: 18.5853%;
  line-gap-override: 0%;
}

@font-face {
  font-display: swap;
  font-family: Graphik;
  font-weight: 1 999;
  font-style: italic;
  src: url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2-variations"), url("//www.rei.com/satchel/media/font-optimized/Graphik/GraphikWebItalic-VF-Web-Subset.woff2") format("woff2"); }
