// @import url('@rei/cedar/dist/style/cdr-button.css');
// @import url('@rei/cedar/dist/style/cdr-icon.css');
@import '../../button/styles/CdrButton.module.scss';
@import '../../icon/styles/CdrIcon.module.scss';
@import '../../../styles/settings/_index.scss';
@import './vars/CdrToast.vars.scss';

.cdr-toast {
  @include cdr-toast-base-mixin;

  &__transition {
    &--toast-enter-from {
      opacity: 0;
      transform: translateX(2.4rem);
    }
    &--toast-enter-active {
      transition: all $cdr-duration-5-x $timing-function;
    }
    &--toast-leave-to {
      opacity: 0;
    }
    &--toast-leave-active {
      transition: opacity $cdr-duration-2-x $timing-function;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "icon-left message close-button";
    min-height: 3.2rem;
  }

  &__icon-left {
    width: 3.2rem;
    grid-area: icon-left;
    display: inherit;
    align-items: center;
    justify-items: center;
    & svg {
      max-height: 2.2rem;
      max-width: 2.2rem;
      stroke: white;
      stroke-width: 0.4rem;
      paint-order: stroke fill;
      margin: $cdr-space-quarter-x;
  
    }
  }

  &__message {
    display: inherit;
    align-items: center;
    grid-area: message;
    padding: 0.7rem;
  }

  &__close-button {
    display: inherit;
    align-content: center;
    grid-area: close-button;
    max-height: 3.2rem;
    & svg {
      height: 2.2rem;
      width: 2.2rem;
      //ITEM_DOC: Fill color of the cdr-toast close button icon
      fill: var(--cdr-toast-close-button-fill, var(--cdr-color-text-emphasis, #{$cdr-color-text-emphasis})) !important;
    }
  }

  &--default {
    & .cdr-toast__main {
      @include cdr-toast-default-mixin;
      & .cdr-toast__icon-left {
          //ITEM_DOC: Default background color of the cdr-toast icon-left
          background-color: var(--cdr-toast-icon-left-background-color-default, var(--cdr-color-background-message-default-02, #{$cdr-color-background-message-default-02}));
          svg {
            //ITEM_DOC: Default fill color of the cdr-toast icon-left
            fill: var(--cdr-toast-icon-left-fill-default, var(--cdr-color-icon-message-default, #{$cdr-color-icon-message-default}));
          }
        }
      }
    border-left-color: $cdr-color-border-message-default-01;
  }

  &--info {
    & .cdr-toast__main {
      @include cdr-toast-info-mixin;
      & .cdr-toast__icon-left {
        //ITEM_DOC: Info background color of the cdr-toast icon-left
        background-color: var(--cdr-toast-icon-left-background-color-info, var(--cdr-color-background-message-info-02, #{$cdr-color-background-message-info-02}));
        svg {
          //ITEM_DOC: Info fill color of the cdr-toast icon-left
          fill: var(--cdr-toast-icon-left-fill-info, var(--cdr-color-icon-message-info, #{$cdr-color-icon-message-info}));
        }
      }
    }
    //ITEM_DOC: Info border-left color of the cdr-toast
    border-left-color: var(--cdr-toast-border-left-color-info, var(--cdr-color-border-message-info-01, #{$cdr-color-border-message-info-01}));
  }

  &--warning {
    & .cdr-toast__main {
      @include cdr-toast-warning-mixin;
      & .cdr-toast__icon-left {
        //ITEM_DOC: Warning background color of the cdr-toast icon-left
        background-color: var(--cdr-toast-icon-left-background-color-warning, var(--cdr-color-background-message-warning-02, #{$cdr-color-background-message-warning-02}));
        svg {
          //ITEM_DOC: Warning fill color of the cdr-toast icon-left
          fill: var(--cdr-toast-icon-left-fill-warning, var(--cdr-color-icon-message-warning, #{$cdr-color-icon-message-warning}));
        }
      }
    }
    //ITEM_DOC: Warning border-left color of the cdr-toast
    border-left-color: var(--cdr-toast-border-left-color-warning, var(--cdr-color-border-message-warning-01, #{$cdr-color-border-message-warning-01}));
  }

  &--success {
    & .cdr-toast__main {
      @include cdr-toast-success-mixin;
      & .cdr-toast__icon-left {
        //ITEM_DOC: Success background color of the cdr-toast icon-left
        background-color: var(--cdr-toast-icon-left-background-color-success, var(--cdr-color-background-message-success-02, #{$cdr-color-background-message-success-02}));
        svg {
          //ITEM_DOC: Success fill color of the cdr-toast icon-left
          fill: var(--cdr-toast-icon-left-fill-success, var(--cdr-color-icon-message-success, #{$cdr-color-icon-message-success}));
        }
      }
    }
    //ITEM_DOC: Success border-left color of the cdr-toast
    border-left-color: var(--cdr-toast-border-left-color-success, var(--cdr-color-border-message-success-01, #{$cdr-color-border-message-success-01}));
  }

  &--error {
    & .cdr-toast__main {
      @include cdr-toast-error-mixin;
      & .cdr-toast__icon-left {
        //ITEM_DOC: Error background color of the cdr-toast icon-left
        background-color: var(--cdr-toast-icon-left-background-color-error, var(--cdr-color-background-message-error-02, #{$cdr-color-background-message-error-02}));
        svg {
          //ITEM_DOC: Error fill color of the cdr-toast icon-left
          fill: var(--cdr-toast-icon-left-fill-error, var(--cdr-color-icon-message-error, #{$cdr-color-icon-message-error}));
        }
      }
    }
    //ITEM_DOC: Error border-left color of the cdr-toast
    border-left-color: var(--cdr-toast-border-left-color-error, var(--cdr-color-border-message-error-01, #{$cdr-color-border-message-error-01}));
  }
}
