@use '@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

@mixin cdr-chip-group-base-mixin() {
  border: none;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;

  legend {
    padding-inline-start: 0;
    margin-bottom: tokens.$cdr-space-half-x;
  }
}

@mixin cdr-chip-group-content-mixin() {
  & > button:not(:last-child)  {
    margin-right: tokens.$cdr-space-half-x;
    margin-bottom: tokens.$cdr-space-half-x;
  }
}

@mixin cdr-chip-group-legend-mixin() {
  @include tokens.cdr-text-heading-sans-300;
}
