@use '@rei/cdr-tokens/scss' as tokens;

@mixin cdr-chip-base-mixin() {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: max-content;
  padding: tokens.$cdr-space-half-x tokens.$cdr-space-three-quarter-x;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-family: tokens.$cdr-font-family-sans;
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: -0.08px;
  transition:
    color tokens.$cdr-duration-1-x tokens.$cdr-timing-function-ease,
    fill tokens.$cdr-duration-1-x tokens.$cdr-timing-function-ease,
    background-color tokens.$cdr-duration-1-x tokens.$cdr-timing-function-ease,
    box-shadow tokens.$cdr-duration-1-x tokens.$cdr-timing-function-ease;
}

@mixin cdr-chip-icon-left-mixin() {
  position: absolute;
  left: tokens.$cdr-space-half-x;
}

@mixin cdr-chip-icon-right-mixin() {
  position: absolute;
  right: tokens.$cdr-space-half-x;
}

@mixin cdr-chip-content-right-mixin() {
  margin-left: tokens.$cdr-space-one-x;
}

@mixin cdr-chip-content-left-mixin() {
  margin-right: tokens.$cdr-space-one-x;
}
