@mixin cdr-form-group-base-mixin() {
  @include cdr-text-heading-sans-300;
  border: none;

  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;

  legend {
    padding-inline-start: 0;
    margin-bottom: $cdr-space-half-x;
  }
}

@mixin cdr-form-group-error-mixin() {
  //ITEM_DOC: Box-shadow color of a cdr-form-group error
  box-shadow: inset 0 0 0 1px var(--cdr-form-group-error-box-shadow, var(--cdr-color-border-input-error, #{$cdr-color-border-input-error}));
  //ITEM_DOC: Background color of a cdr-form-group error
  background-color: var(--cdr-form-group-error-background-color, var(--cdr-color-background-input-error, #{$cdr-color-background-input-error}));
  &:hover {
    //ITEM_DOC: Background color of a cdr-form-group error on hover
    background-color: var(--cdr-form-group-error-background-hover, transparent);
  }
}

@mixin cdr-form-group-optional-mixin() {
  //ITEM_DOC: Text color of an optional cdr-form-group
  color: var(--cdr-form-group-optional-text-color, var(--cdr-color-text-input-optional, #{$cdr-color-text-input-optional}));
}

@mixin cdr-form-group-disabled-mixin() {
  cursor: not-allowed;
  //ITEM_DOC: Text color of a disabled cdr-form-group
  color: var(--cdr-form-group-disabled-text-color, var(--cdr-color-text-disabled, #{$cdr-color-text-disabled}));
}


@mixin cdr-form-group-content-mixin() {
  border-radius: $cdr-radius-softer;
  display: flex;
  flex-direction: column;
  & > * {
    flex: 1 1 0;
  }
}
