@use './CdrFormGroup.maps' as maps;
@use 'sass:map';
@use '@rei/cdr-tokens/scss' as tokens;

@mixin cdr-form-group-base-mixin() {
  @include tokens.cdr-text-heading-sans-300;

  border: none;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;

  legend {
    padding-inline-start: 0;
    margin-bottom: tokens.$cdr-space-half-x;
  }
}

@mixin cdr-form-group-error-mixin() {
  // ITEM_DOC: Box-shadow color of a cdr-form-group error
  box-shadow: inset 0 0 0 1px
    var(--cdr-form-group-error-box-shadow, #{map.get(maps.$form-group-defaults, error-border)});

  // ITEM_DOC: Background color of a cdr-form-group error
  background-color: var(
    --cdr-form-group-error-background-color,
    #{map.get(maps.$form-group-defaults, error-surface)}
  );

  &:hover {
    // ITEM_DOC: Background color of a cdr-form-group error on hover
    background-color: var(--cdr-form-group-error-background-hover, transparent);
  }
}

@mixin cdr-form-group-optional-mixin() {
  // ITEM_DOC: Text color of an optional cdr-form-group
  color: var(--cdr-form-group-optional-text-color, #{map.get(maps.$form-group-defaults, optional)});
}

@mixin cdr-form-group-disabled-mixin() {
  cursor: not-allowed;

  // ITEM_DOC: Text color of a disabled cdr-form-group
  color: var(
    --cdr-form-group-disabled-text-color,
    #{map.get(maps.$form-group-defaults, text-disabled)}
  );
}

@mixin cdr-form-group-content-mixin() {
  border-radius: tokens.$cdr-radius-softer;
  display: flex;
  flex-direction: column;

  > * {
    flex: 1 1 0;
  }
}
