@import '../../../styles/settings/_index.scss';
//@import url('@rei/cedar/dist/style/cdr-icon.css');
@import '../../icon/styles/CdrIcon.module.scss';
//@import url('@rei/cedar/dist/style/cdr-accordion-group.css');
@import './CdrAccordionGroup.module.scss';

.cdr-accordion {
  //ITEM_DOC: Border color of cdr-accordion
  --cdr-accordion-border: 1px solid var(--cdr-accordion-border-color, var(--cdr-color-border-primary, #{$cdr-color-border-primary}));
  border-top: var(--cdr-accordion-border);
  border-bottom: var(--cdr-accordion-border);
  position: relative;
  z-index: 1;
  list-style: none;

  &+& {
    border-top: none;
  }

  &__button {
    @include cdr-text-utility-sans-strong-300;
    //ITEM_DOC: Background color of a cdr-accordion header button
    background-color: var(--cdr-accordion-button-background-color, transparent);
    border: none;
    //ITEM_DOC: Text color of a cdr-accordion header button
    color: var(--cdr-accordion-button-color, var(--cdr-color-text-primary, #{$cdr-color-text-primary}));
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: $cdr-space-inset-one-x;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 1;

    &:hover,
    &:focus {
      //ITEM_DOC: Background color of a cdr-accordion header button on focus and hover
      background-color: var(--cdr-accordion-button-background-color-hover, var(--cdr-color-background-accordion-hover, #{$cdr-color-background-accordion-hover}));
    }
  }

  &__label {
    margin-bottom: 0;
  }

  &__header {
    margin: 0;
    padding: 0;
    font-weight: unset;
    font-style: unset;
    font-size: unset;
    &--unwrapped {
      @include cdr-text-heading-sans-400;
      margin: $cdr-space-one-x 0;
    }
  }

  &__icon {
    margin-left: $cdr-space-one-x;
    //ITEM_DOC: Fill color of icons on a cdr-accordion. This is used for the caret which changes orientation when the accordion collapses and expands
    fill: var(--cdr-accordion-icon-fill, var(--cdr-color-icon-default, #{$cdr-color-icon-default}));
    transition: transform $cdr-duration-3-x $cdr-timing-function-ease-out;

    &.cdr-accordion--open {
      transform: rotate(-180deg);
    }
  }

  &__content-container {
    overflow: hidden;
    transition-duration: $cdr-duration-3-x;
    transition-property: max-height;
    transition-timing-function: cubic-bezier(0.15, 0, 0.15, 1);

    .cdr-tabs--open {
      transition-duration: $cdr-duration-3-x;
    }
  }

  &__content {
    @include cdr-text-body-300;
    //ITEM_DOC: Background color of cdr-accordion content
    background-color:  var(--cdr-accordion-content-background-color, transparent);
    //ITEM_DOC: Text color of cdr-accordion content
    color: var(--cdr-accordion-content-text-color, var(--cdr-color-text-primary, #{$cdr-color-text-primary}));
    padding: $cdr-space-half-x $cdr-space-one-x $cdr-space-one-x;
    transition: opacity $cdr-duration-1-x linear;
    opacity: 0;

    & > * {
      @include cdr-text-body-300;
    }

    &.cdr-accordion--open {
      opacity: 1;
    }

    &.cdr-accordion--closed {
      visibility: hidden;
    }
  }

  /* Style variants
    ========================================================================== */
  &--unwrap {
    padding: 0;
  }
  /* Border-Aligned
     ========== */
  &--border-aligned {
    margin: 0 $cdr-space-inset-one-x;

    .cdr-accordion__button {
      margin-left: -$cdr-space-one-x;
      width: calc(100% + (#{$cdr-space-one-x} * 2));
    }

    .cdr-accordion__content {
      padding: $cdr-space-half-x 0 $cdr-space-one-x;
    }
  }

  /* No content spacing
     ========== */
  &--no-spacing {
    .cdr-accordion__content {
      padding: 0;
    }
  }

  /* Compact
     ========== */
  &--compact {
    .cdr-accordion__button {
      @include cdr-text-utility-sans-strong-200;

      padding: $cdr-space-inset-three-quarter-x;
    }

    .cdr-accordion__content {
      @include cdr-text-utility-sans-200;

      padding: $cdr-space-quarter-x $cdr-space-three-quarter-x $cdr-space-three-quarter-x;

      & > * {
        @include cdr-text-utility-sans-200;
      }
    }
  }

  /* Border-Aligned and Compact
     ========== */
  &--compact.cdr-accordion--border-aligned {
    .cdr-accordion__button {
      margin-left: -$cdr-space-three-quarter-x;
      width: calc(100% + (#{$cdr-space-three-quarter-x} * 2));
    }

    .cdr-accordion__content {
      padding: $cdr-space-quarter-x 0 $cdr-space-three-quarter-x;
    }
  }

  &--focused {
    /*
      This z-index change is to fix a Chrome-only visual issue with the light blue focus outline. Basically, the bottom
      line of the outline is usually covered by the accordion immediately below what's currently focuesd. We increase
      the z-index so that the outline can be correctly seen when the accordion is focused.
    */
    z-index: 10;
  }
}