@import '../../../styles/settings/index.scss';
@import '../../text/presets/styles/CdrHeadingDisplay.module.scss';
@import '../../text/presets/styles/CdrSubheadingSans.module.scss';

.cdr-heading-subheading-block {
  &__heading {
    display: block;
    margin: 0 0 var(--cdr-space-scale-xs) 0;
    max-width: 40ch;
  }
  &__subheading {
    display: block;
    margin-top: var(--cdr-space-scale-2xs)!important;
    max-width: 60ch;
  }
}