@import '../../../styles/settings/index.scss';
@import '../../image/styles/CdrImg.module.scss';
@import './CdrHeadingSubheadingBlock.module.scss';


.cdr-landing-lead {
  //ITEM_DOC: Color of the landing-leads surface layer. Passes to underlying split-surface component
  --cdr-split-surface-surface-color: var(--cdr-landing-lead-surface-color, var(--cdr-color-surface-primary, #{$cdr-color-surface-primary}));
  &__image {
    --cdr-img-aspect-ratio: 4 / 1;
    --cdr-img-object-fit: cover;
    width: 100%;
    @include cdr-sm-mq-down {
      --cdr-img-aspect-ratio: 4 / 3;
    }
  }
  &__copy-block {
    padding: $cdr-space-two-x;
    @include cdr-md-mq-down {
      padding: $cdr-space-two-x;
    }
  }
}
