@use './vars/CdrFilmstrip.maps' as maps;
@use 'sass:map';
@use '@rei/cdr-tokens/scss' as tokens;

$prominence-02:
  5px 12px 4px 0 rgb(75, 74, 72, 0),
  3px 8px 3px 0 rgb(75, 74, 72, 0.02),
  2px 4px 3px 0 rgb(75, 74, 72, 0.07),
  1px 2px 2px 0 rgb(75, 74, 72, 0.12),
  0 0 1px 0 rgb(75, 74, 72, 0.14);
$prominence-03:
  30px 37px 13px 0 rgb(75, 74, 72, 0),
  19px 24px 12px 0 rgb(75, 74, 72, 0.02),
  11px 13px 10px 0 rgb(75, 74, 72, 0.07),
  5px 6px 8px 0 rgb(75, 74, 72, 0.12),
  1px 1px 4px 0 rgb(75, 74, 72, 0.14);

.cdr-filmstrip {
  position: relative;

  &:hover &__arrow {
    opacity: 1;
    pointer-events: all;
  }

  &__frames {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-columns: calc(var(--frame-width) * 1px);
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: calc(var(--frames-gap) * 1px);
  }

  &__frame {
    width: 100%;
    scroll-snap-align: start;
  }

  &__arrow {
    --button-half: #{tokens.$cdr-space-one-and-a-half-x};

    box-shadow: $prominence-02;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: var(
      --cdr-filmstrip-arrow-top,
      calc(50% - (2 * var(--button-half)) - tokens.$cdr-space-half-x)
    );
    z-index: 1;

    &:active,
    &:focus {
      box-shadow:
        inset 0 0 0 tokens.$cdr-space-eighth-x #{map.get(maps.$filmstrip-defaults, border-focus)},
        $prominence-02;
    }

    &:focus {
      opacity: 1;
      pointer-events: all;
    }

    &--left {
      left: 0;

      @include tokens.cdr-lg-mq-up {
        left: calc(var(--button-half) * -1);
      }
    }

    &--right {
      --extra-frame-width: calc(1px * ((var(--frame-width) * var(--frame-extra))));
      --half-gap: calc(var(--frames-gap) / 2 * 1px);

      right: calc(var(--extra-frame-width) + var(--half-gap) - var(--button-half));
    }

    &:disabled {
      filter: none;
      box-shadow: none;
    }

    &:hover:not(:disabled) {
      box-shadow: $prominence-03;
    }
  }
}
