@use '@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as *;
@use './vars/CdrFilmstrip.vars' as *;

.cdr-filmstrip {
  position: relative;

  &__viewport {
    width: 100%;
    height: 100%;
    scroll-behavior: auto;
    position: relative;
    border-radius: $cdr-radius-softer;
    outline: none;

    @include cdr-sm-mq-down {
      padding: 0 $cdr-space-one-x;
    }

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  &__root {
    width: 100%;
    height: auto;
  }

  &__frames {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-columns: calc(var(--frame-width) * 1px);
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: calc(var(--frames-gap) * 1px);
  }

  &__frame {
    width: 100%;
    scroll-snap-align: start;
  }

  &__bar {
    --surface-size: 2.4rem;
    --track-size: 0.2rem;
    --control-size: 0.4rem;
    display: flex;
    user-select: none;
    touch-action: none;
    cursor: grab;
    position: relative !important;
    margin-top: $cdr-space-half-x;
    border-radius: $cdr-radius-round;

    @include cdr-sm-mq-down {
      margin-left: $cdr-space-one-x;
      margin-right: $cdr-space-one-x;
    }

    &:active {
      cursor: grabbing;
    }

    &:after {
      background-color: #e8e0ce;
    }

    &--horizontal {
      flex-direction: column;
      justify-content: center;
      height: var(--surface-size);

      &:after {
        height: var(--track-size);
        position: absolute;
        content: '';
        width: 100%;
        top: calc((var(--surface-size) / 2) - (var(--track-size) / 2));
        left: 0;
      }

      .cdr-filmstrip__thumb {
        --radix-scroll-area-thumb-height: var(--surface-size);
        height: var(--track-size);

        &:after {
          width: 100%;
          height: var(--track-size);
        }
      }
    }

    &:hover {
      .cdr-filmstrip__thumb {
        &:after {
          box-shadow: $prominence-03;
          height: var(--control-size);
        }
      }
    }
  }

  &__thumb {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;

    &:after {
      content: '';
      background: #454441;
      border-radius: $cdr-radius-round;
    }
  }

  &__arrow {
    @include arrow-vars;
    box-shadow: $prominence-02;
    pointer-events: all;
    --button-half: #{$cdr-space-one-and-a-half-x};
    position: absolute;
    top: var(--cdr-filmstrip-arrow-top, calc(50% - (2 * var(--button-half)) - $cdr-space-half-x));
    z-index: 1;

    &:active,
    &:focus {
      box-shadow:
        inset 0 0 0 $cdr-space-eighth-x #2e2e2b,
        $prominence-02;
    }

    @include cdr-sm-mq-down {
      display: none;
    }

    &--left {
      left: 0;

      @include cdr-lg-mq-up {
        left: calc(var(--button-half) * -1);
      }
    }

    &--right {
      --extra-frame-width: calc(1px * ((var(--frame-width) * var(--frame-extra))));
      --half-gap: calc(var(--frames-gap) / 2 * 1px);
      right: calc(var(--extra-frame-width) + var(--half-gap) - var(--button-half));
    }

    &:disabled {
      filter: none;
      box-shadow: none;
    }

    &:hover:not(:disabled) {
      box-shadow: $prominence-03;
    }
  }

  &__sr-only {
    @include cdr-display-sr-only;
  }
}
