@import '../../../../styles/settings/index.scss';
@import '../../../surfaceSelection/styles/vars/CdrSurfaceSelection.vars.scss';

@mixin cdr-fulfillment-tile-base-mixin($component) {
  --cdr-fulfillment-tile-background-color-checked: var(--cdr-color-background-primary);
  --cdr-fulfillment-tile-background-color-disabled: var(
    --cdr-color-background-button-default-disabled
  );
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  gap: var(--cdr-space-scale-half-x);
  padding: var(--cdr-space-scale-one-x) 0;
}

@mixin cdr-fulfillment-tile-content-mixin() {
  padding: 0 var(--cdr-space-scale-one-x);
  width: 100%;
  flex: 0 0 auto;

  &--stretch {
    flex: 1 1 auto;
  }

  strong {
    --cdr-utility-sans-font-weight: 600;
    font-weight: var(--cdr-utility-sans-font-weight);
  }
}

@mixin cdr-fulfillment-tile-header-mixin() {
  display: flex;
  align-items: center;
  gap: var(--cdr-space-scale-three-quarter-x);
  width: 100%;
  height: $cdr-space-one-and-a-half-x;
  padding: 0 var(--cdr-space-scale-one-x);

  &__icon {
    flex: 0 0 auto;
    fill: var(--cdr-fulfillment-tile-icon-fill);
  }

  &__label {
    flex: 1 1 auto;
  }
}
