@import '../../../../styles/settings/index.scss';

@mixin cdr-fulfillment-tile-base-mixin() {
  @include cdr-text-utility-sans-300;
  @include cdr-border-mixin;
  @include cdr-radius-mixin;
  @include cdr-palette-primary-mixin;
  --cdr-border-width-default: var(--cdr-space-inset-sixteenth-x);
  --cdr-radius-default: var(--cdr-radius-softer);
  --cdr-palette-border-color: var(--cdr-color-border-message-default-01);
  --cdr-palette-background-checked: var(--cdr-color-background-primary);
  --cdr-palette-background-disabled: var(--cdr-color-background-button-default-disabled);
  --cdr-palette-text-color-disabled: var(--cdr-color-text-primary);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  gap: var(--cdr-space-scale-half-x);
  padding: var(--cdr-space-scale-one-x) 0;
}

@mixin cdr-fulfillment-tile-header-mixin() {
  display: flex;
  align-items: center;
  gap: var(--cdr-space-scale-three-quarter-x);
  width: 100%;
  height: $cdr-space-one-and-a-half-x;
  padding: 0 var(--cdr-space-scale-one-x);

  &__icon {
    flex: 0 0 auto;
    fill: var(--cdr-fulfillment-tile-icon-fill);
  }

  &__label {
    flex: 1 1 auto;
  }
}

@mixin cdr-fulfillment-tile-content-mixin() {
  padding: 0 var(--cdr-space-scale-one-x);
  width: 100%;

  strong {
    --cdr-utility-sans-font-weight: 600;
    font-weight: var(--cdr-utility-sans-font-weight);
  }

  &--body {
    flex: 1 1 auto;
  }

  &--footer {
    flex: 0 0 auto;
  }
}
