@mixin cdr-fulfillment-tile-icon-base-mixin() {
  width: 2.2rem;
  height: 2.2rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $cdr-radius-round;
  position: relative;
  fill: var(--cdr-fulfillment-tile-icon-fill);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: inset 0 0 0 $cdr-space-eighth-x var(--cdr-fulfillment-tile-icon-fill);
    opacity: 0.3;
  }

  svg {
    max-height: 2rem;
    max-width: 2rem;
    stroke: white;
    stroke-width: $cdr-space-eighth-x;
    paint-order: stroke fill;
    margin: $cdr-space-quarter-x;

  }
}

@mixin cdr-fulfillment-tile-icon-default-mixin() {
  --cdr-fulfillment-tile-icon-fill: var(
    --cdr-fulfillment-tile-icon-default-icon-fill,
    var(--cdr-color-icon-message-default, #{$cdr-color-icon-message-default})
  );
}

@mixin cdr-fulfillment-tile-icon-info-mixin() {
  --cdr-fulfillment-tile-icon-fill: var(
    --cdr-fulfillment-tile-icon-info-icon-fill,
    var(--cdr-color-border-message-info-01, #{$cdr-color-border-message-info-01})
  );
}

@mixin cdr-fulfillment-tile-icon-warning-mixin() {
  --cdr-fulfillment-tile-icon-fill: var(
    --cdr-fulfillment-tile-icon-warning-icon-fill,
    var(--cdr-color-border-message-warning-01, #{$cdr-color-border-message-warning-01})
  );
}

@mixin cdr-fulfillment-tile-icon-success-mixin() {
  --cdr-fulfillment-tile-icon-fill: var(
    --cdr-fulfillment-tile-icon-success-icon-fill,
    var(--cdr-color-icon-message-success, #{$cdr-color-icon-message-success})
  );
}

@mixin cdr-fulfillment-tile-icon-error-mixin() {
  --cdr-fulfillment-tile-icon-fill: var(
    --cdr-fulfillment-tile-icon-error-icon-fill,
    var(--cdr-color-border-message-error-01, #{$cdr-color-border-message-error-01})
  );
}
