@import '../../../../styles/settings/index.scss';

@mixin cdr-fulfillment-tile-content-mixin() {
  padding: 0 var(--cdr-space-scale-one-x);
  width: 100%;
  flex: 0 0 auto;

  &--stretch {
    flex: 1 1 auto;
  }

  strong {
    --cdr-utility-sans-font-weight: 600;
    font-weight: var(--cdr-utility-sans-font-weight);
  }
}
