@use 'sass:map';
@import '../../../../styles/settings/index.scss';
@import '../../../surfaceSelection/styles/vars/CdrSurfaceSelection.vars.scss';

$fulfillment-tile-component: 'fulfillment-tile';
$fulfillment-tile-background-colors: $surface-selection-background-colors;
$fulfillment-tile-border-colors: $surface-selection-border-colors;

@mixin cdr-fulfillment-tile-base-mixin() {
  // Create tokens for background color
  @each $modifier, $states in $surface-selection-background-colors {
    @each $state, $value in $states {
      --cdr-color-background-fulfillment-tile-#{$modifier}-#{$state}: #{$value};
    }
  }

  // Create tokens for border color
  @each $modifier, $states in $surface-selection-border-colors {
    @each $state, $value in $states {
      --cdr-color-border-fulfillment-tile-#{$modifier}-#{$state}: #{$value};
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__main {
    position: relative;
    height: 100%;
  }

  &__layout {
    height: 100%;
    align-content: end;
  }

  &__loading {
    margin-top: $cdr-space-quarter-x;
  }
}
