@import '../../../../styles/settings/index.scss';

@mixin cdr-fulfillment-tile-content-base-mixin() {
  width: 100%;
  flex: 0 0 auto;

  &--stretch {
    flex: 1 1 auto;
  }

  strong {
    --cdr-utility-sans-font-weight: 600;
    font-weight: var(--cdr-utility-sans-font-weight);
  }
}
