@use '@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

@use './vars/CdrPopup.vars' as vars;

.cdr-popup {
  opacity: 0;
  transition: opacity vars.$animation-duration vars.$timing-function;

  &--open {
    opacity: 1;
  }

  &--closed {
    opacity: 0;
  }

  &__content {
    animation-duration: vars.$animation-duration;
    animation-timing-function: vars.$timing-function;
    animation-fill-mode: forwards;

    //ITEM_DOC: Background color of cdr-popup content
    background: var(--cdr-popup-content-background, var(--cdr-color-background-primary, #{tokens.$cdr-color-background-primary}));

    //ITEM_DOC: Border color of cdr-popup content
    border: 1px solid var(--cdr-popup-content-border-color, var(--cdr-color-border-secondary, #{tokens.$cdr-color-border-secondary}));
    border-radius: tokens.$cdr-radius-softer;
    box-shadow: tokens.$cdr-prominence-elevated;
    max-width: 286px;
    width: max-content;
    position: absolute;
    z-index: 100;
  }

  &__arrow {
    &::before, &::after {
      content: '';
      position: absolute;
      margin: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      animation-duration: vars.$animation-duration;
      animation-timing-function: vars.$timing-function;
      animation-fill-mode: forwards;
      z-index: 100;
    }

    &::before {
      border-width: vars.$arrow-size;
    }

    &::after {
      border-width: #{vars.$arrow-size - 0.1rem};
    }
  }

  &--top,
  &--bottom {
    .cdr-popup__content, .cdr-popup__arrow::before, .cdr-popup__arrow::after  {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--bottom {
    &.cdr-popup--open {
      .cdr-popup__content {
        :global {
          animation-name: popup-enter-down;
        }
      }

      .cdr-popup__arrow {
        &::before, &::after {
          :global {
            animation-name: popup-arrow-enter-down;
          }
        }
      }
    }

    &.cdr-popup--exit {
      .cdr-popup__content {
        :global {
          animation-name: popup-exit-down;
        }
      }

      .cdr-popup__arrow {
        &::before, &::after {
          :global {
            animation-name: popup-arrow-exit-down;
          }
        }
      }
    }

    .cdr-popup__content {
      top: vars.$content-spacing;
    }

    .cdr-popup__arrow {
      @include vars.arrow(bottom);
    }
  }

  &--top {
    &.cdr-popup--open {
      .cdr-popup__content {
        :global {
          animation-name: popup-enter-up;
        }
      }

      .cdr-popup__arrow {
        &::before, &::after {
          :global {
            animation-name: popup-arrow-enter-up;
          }
        }
      }
    }

    &.cdr-popup--exit {
      .cdr-popup__content {
        :global {
          animation-name: popup-exit-up;
        }
      }

      .cdr-popup__arrow {
        &::before, &::after {
          :global {
            animation-name: popup-arrow-exit-up;
          }
        }
      }
    }

    .cdr-popup__content {
      bottom: vars.$content-spacing;
    }

    .cdr-popup__arrow {
      @include vars.arrow(top);
    }
  }

  &--corner-left .cdr-popup__content {
    left: 0;
    transform: unset;
  }

  &--corner-right .cdr-popup__content {
    left: unset;
    right: 0;
    transform: unset;
  }

  &--left,
  &--right {
    .cdr-popup__content, .cdr-popup__arrow::before, .cdr-popup__arrow::after {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--left {
    &.cdr-popup--open {
      .cdr-popup__content {
        :global {
          animation-name: popup-enter-left;
        }
      }

      .cdr-popup__arrow {
        &::before, &::after {
          :global {
            animation-name: popup-arrow-enter-left;
          }
        }
      }
    }

    &.cdr-popup--exit {
      .cdr-popup__content {
        :global {
          animation-name: popup-exit-left;
        }
      }

      .cdr-popup__arrow {
        &::before, &::after {
          :global {
            animation-name: popup-arrow-exit-left;
          }
        }
      }
    }

    .cdr-popup__content {
      right: vars.$content-spacing;
    }

    .cdr-popup__arrow {
      @include vars.arrow(left);
    }
  }

  &--right {
    &.cdr-popup--open {
      .cdr-popup__content {
        :global {
          animation-name: popup-enter-right;
        }
      }

      .cdr-popup__arrow {
        &::before, &::after {
          :global {
            animation-name: popup-arrow-enter-right;
          }
        }
      }
    }

    &.cdr-popup--exit {
      .cdr-popup__content {
        :global {
          animation-name: popup-exit-right;
        }
      }

      .cdr-popup__arrow {
        &::before, &::after {
          :global {
            animation-name: popup-arrow-exit-right;
          }
        }
      }
    }

    .cdr-popup__content {
      left: vars.$content-spacing;
    }

    .cdr-popup__arrow {
      @include vars.arrow(right);
    }
  }

  &--corner-top .cdr-popup__content {
    top: 0;
    transform: unset;
  }

  &--corner-bottom .cdr-popup__content {
    top: unset;
    bottom: 0;
    transform: unset;
  }
}
