@import './CdrPresets.module.scss';

.cdr-body {
  @include cdr-text-base-mixin;
  @include cdr-text-body-400;
  font-size: var(--cdr-body-font-size);
  line-height: var(--cdr-body-line-height);
  font-weight: var(--cdr-body-font-weight);
  max-width: var(--cdr-body-max-width, 75ch);
}