@use '@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;
@use '../../styles/vars/CdrText.vars.scss' as vars;

.cdr-utility-serif {
  @include vars.cdr-text-base-mixin;
  @include tokens.cdr-text-utility-serif-800;

  font-size: var(--cdr-utility-serif-font-size);
  line-height: var(--cdr-utility-serif-line-height);
  font-weight: var(--cdr-utility-serif-font-weight);
}