@import '../../../../../styles/settings/index.scss';

.cdr-landing-lead {
  &__image {
    --cdr-img-aspect-ratio: 4 / 1;
    object-fit: cover;
    width: 100%;
    @include cdr-sm-mq-down {
      --cdr-img-aspect-ratio: 4 / 3;
    }
  }
  &__copy-block {
    padding: $cdr-space-two-x;
    @include cdr-md-mq-down {
      padding: $cdr-space-two-x;
    }
  }
}
