.cdr-image {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: var(--cdr-img-aspect-ratio);
  object-fit: var(--cdr-img-object-fit);
  object-position: var(--cdr-img-object-position);
  border-radius: var(--cdr-img-border-radius);
}
