@import '../../../styles/settings/index.scss';
@import '../../../styles/settings/fluid.vars.scss';

.cdr-abstract {
  @include cdr-text-subheading-sans-500;
  color: var(--cdr-text-color, var(--cdr-color-text-primary, #{$cdr-color-text-primary}));
  margin: 0;
  font-size: var(--cdr-type-scale-1);
  line-height: calc(var(--cdr-type-scale-1) * var(--cdr-subheading-sans-line-height-ratio));
  max-width: 75ch;

  @container (max-width: 720px) {
    @include cdr-text-body-500;
    font-size: var(--cdr-type-scale-0);
    line-height: calc(var(--cdr-type-scale-0) * var(--cdr-body-line-height-ratio));
  }
}
