@use '@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

.cdr-abstract {
  @include tokens.cdr-text-subheading-sans-500;

  color: var(--cdr-text-color, var(--cdr-color-text-primary, #{tokens.$cdr-color-text-primary}));
  margin: 0;
  font-size: var(--cdr-type-scale-1);
  line-height: var(--cdr-line-height-ratio-subheading-sans-1);
  max-width: 75ch;

  @container (max-width: 720px) {
    @include tokens.cdr-text-body-500;

    font-size: var(--cdr-type-scale-0);
    line-height: var(--cdr-line-height-ratio-subheading-sans-0);
  }
}
