// Available border widths for Surface and child components
$border-widths: (
  'zero': $cdr-space-zero,
  'sixteenth-x': $cdr-space-sixteenth-x,
  'eighth-x': $cdr-space-eighth-x,
  'three-sixteenth-x': $cdr-space-three-sixteenth-x,
  'quarter-x': $cdr-space-quarter-x,
  'three-eighth-x': $cdr-space-three-eighth-x,
);

// Available border styles for Surface and child components
$border-styles: 'dotted', 'dashed', 'solid';

// Generates a border color CSS variable that can be used by a shorthand border
@mixin cdr-border-color-mixin($options, $component, $modifier: 'undefined', $state: 'undefined') {
  $statePart: '';
  $modifierPart: '';

  @if $state != 'undefined' {
    $statePart: -#{$state};
  }

  @if $modifier != 'undefined' {
    $modifierPart: -#{$modifier};
  }

  --cdr-#{$component}-border-color-default: var(
    --cdr-#{$component}#{$modifierPart}-border-color#{$statePart},
    var(
      --cdr-color-border-#{$component}#{$modifierPart}#{$statePart},
      #{map.get($options, $modifier, $state)}
    )
  );
}

// Generates a border width CSS variable that can be used by a shorthand border
@mixin cdr-border-width-mixin($component, $key) {
  --cdr-#{$component}-border-width-default: var(
    --cdr-#{$component}-border-width,
    var(--cdr-space-inset-#{$key}, #{map.get($border-widths, $key)})
  );
}

// Generates a border style CSS variable that can be used by a shorthand border
@mixin cdr-border-style-mixin($component, $key) {
  --cdr-#{$component}-border-style-default: var(
    --cdr-#{$component}-border-style,
    var(--cdr-border-style-#{$key}, #{$key})
  );
}

// Generates a border property with a predictable format for overriding
@mixin cdr-border-mixin($component) {
  position: relative;

  &::after {
    border-radius: var(--cdr-#{$component}-radius-default);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border: var(--cdr-#{$component}-border-width-default)
      var(--cdr-#{$component}-border-style-default) var(--cdr-#{$component}-border-color-default);
  }
}
