@use '@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

// Cedar token variable options
$radii: (
  'sharp': tokens.$cdr-radius-sharp,
  'soft': tokens.$cdr-radius-soft,
  'softer': tokens.$cdr-radius-softer,
  'softest': tokens.$cdr-radius-softest,
  'round': tokens.$cdr-radius-round,
);

// Generates a radius property with a predictable format for overriding
@mixin cdr-radius-mixin($component, $key) {
  --cdr-#{$component}-radius-default: var(
    --cdr-#{$component}-radius,
    var(--cdr-radius-#{$key}, #{map.get($radii, $key)})
  );
  border-radius: var(--cdr-#{$component}-radius-default);
  overflow: hidden;
}
