@use './CdrLabelStandalone.maps' as maps;
@use 'sass:map';
@use '@rei/cdr-tokens/scss' as tokens;

@mixin cdr-label-standalone-label-mixin() {
  @include tokens.cdr-text-utility-sans-200;

  // ITEM_DOC: Text color of a standalone label
  color: var(--cdr-label-standalone-text-color, #{map.get(maps.$label-standalone-defaults, label)});
  margin: 0;
}

@mixin cdr-label-standalone-disabled-mixin() {
  // ITEM_DOC: Text color of a standalone label when disabled
  color: var(
    --cdr-label-standalone-disabled-text-color,
    #{map.get(maps.$label-standalone-defaults, text-disabled)}
  );
}

@mixin cdr-label-standalone-optional-mixin() {
  // ITEM_DOC: Text color of a standalone label when optional
  color: var(
    --cdr-label-standalone-optional-text-color,
    #{map.get(maps.$label-standalone-defaults, optional)}
  );
}

@mixin cdr-label-standalone-helper-mixin() {
  @include tokens.cdr-text-utility-sans-200;

  // ITEM_DOC: Text color of a standalone helper label
  color: var(
    --cdr-label-standalone-helper-text-color,
    #{map.get(maps.$label-standalone-defaults, helper)}
  );
  margin-top: tokens.$cdr-space-eighth-x;
}

@mixin cdr-label-standalone-info-mixin() {
  @include tokens.cdr-text-utility-sans-200;
}
