@mixin cdr-label-standalone-label-mixin() {
  @include cdr-text-utility-sans-200;
  //ITEM_DOC: Text color of a standalone label
  color: var(--cdr-label-standalone-text-color, var(--cdr-color-text-input-label, #{$cdr-color-text-input-label}));
  margin: 0;
}

@mixin cdr-label-standalone-disabled-mixin() {
  //ITEM_DOC: Text color of a standalone label when disabled
  color: var(--cdr-label-standalone-disabled-text-color, var(--cdr-color-text-input-disabled, #{$cdr-color-text-input-disabled}));
}

@mixin cdr-label-standalone-optional-mixin() {
  //ITEM_DOC: Text color of a standalone label when optional
  color: var(--cdr-label-standalone-optional-text-color, var(--cdr-color-text-input-optional, #{$cdr-color-text-input-optional}));
}

@mixin cdr-label-standalone-helper-mixin() {
  @include cdr-text-utility-sans-200;
  //ITEM_DOC: Text color of a standalone helper label
  color: var(--cdr-label-standalone-helper-text-color, var(--cdr-color-text-input-help, #{$cdr-color-text-input-help}));
  margin-top: $cdr-space-eighth-x;
}

@mixin cdr-label-standalone-info-mixin() {
  @include cdr-text-utility-sans-200;
}
