// @import url('@rei/cedar/dist/style/cdr-popup.css');
// @import url('@rei/cedar/dist/style/cdr-button.css');
// @import url('@rei/cedar/dist/style/cdr-icon.css');
@import '../../popup/styles/CdrPopup.module.scss';
@import '../../button/styles/CdrButton.module.scss';
@import '../../icon/styles/CdrIcon.module.scss';
@import '../../../styles/settings/_index.scss';

.cdr-popover{
  &--position {
    position: relative;
  }
  &--wrapper {
    width: max-content;
    height: max-content;

    .cdr-popup--closed {
      display: none;
    }
  }
  &__title {
    @include cdr-text-heading-serif-400;
    margin-bottom: $cdr-space-half-x;
    margin-right: $cdr-space-half-x;
  }

  &__container {
    padding: $cdr-space-half-x;
    padding-left: $cdr-space-one-x;
    display: flex;
  }
  &__content {
    flex: auto;
  }

  &__close-button {
    align-self: flex-start;
    flex: none;
    padding: 0;
  }
}
