@import '../../popup/styles/CdrPopup.module';
@import '../../button/styles/CdrButton.module';
@import '../../icon/styles/CdrIcon.module';

@use '@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

.cdr-popover{
  &--position {
    position: relative;
  }

  &--wrapper {
    width: max-content;
    height: max-content;

    .cdr-popup--closed {
      display: none;
    }
  }

  &__title {
    @include tokens.cdr-text-heading-serif-400;

    margin-bottom: tokens.$cdr-space-half-x;
    margin-right: tokens.$cdr-space-half-x;
  }

  &__container {
    padding: tokens.$cdr-space-half-x;
    padding-left: tokens.$cdr-space-one-x;
    display: flex;
  }

  &__content {
    flex: auto;
  }

  &__close-button {
    align-self: flex-start;
    flex: none;
    padding: 0;
  }
}
