@mixin cdr-form-error-base-mixin() {
  @include cdr-text-utility-sans-300;
  //ITEM_DOC: Text color of a cdr-form-error
  color: var(--cdr-form-error-text-color, var(--cdr-color-text-input-error, #{$cdr-color-text-input-error}));
  //ITEM_DOC: Fill color of a cdr-form-error
  fill: var(--cdr-form-error-fill-color, var(--cdr-color-text-input-error, #{$cdr-color-text-input-error}));
  margin-top: $cdr-space-quarter-x;
}

@mixin cdr-form-error-icon-mixin() {
  margin-right: $cdr-space-quarter-x;
}
