@mixin cdr-form-error-base-mixin() {
  @include cdr-text-utility-sans-300;
  //ITEM_DOC: Text color of a cdr-form-error
  color: var(--cdr-form-error-text-color, var(--cdr-color-text-input-error));
  //ITEM_DOC: Fill color of a cdr-form-error
  fill: var(--cdr-form-error-fill-color, var(--cdr-color-text-input-error));
  margin-top: $cdr-space-quarter-x;
}

@mixin cdr-form-error-icon-mixin() {
  //ITEM_DOC: Right margin of a cdr-form-error-icon
  margin-right: var(--cdr-form-error-icon-margin-right, var(--cdr-space-quarter-x));
}
