@import '../../../styles/settings/_index.scss';

.cdr-choreographer {
  &__kicker {
    display: block;
    padding: 1.6rem 2.4rem;
  }
  &__title {
    padding: 0 2.4rem;
    margin-bottom: 0.8rem!important;
  }
  &__rating {
    padding: 0 2.4rem;
  }
  &__abstract {
    padding: 0 2.4rem;
  }
}
