@use './CdrSelect.maps' as maps;
@use 'sass:map';
@use '@rei/cdr-tokens/scss' as tokens;

@mixin cdr-select-base-mixin() {
  @include tokens.cdr-text-utility-sans-300;

  font-weight: 500;

  // ITEM_DOC: Background color of cdr-select
  background: var(--cdr-select-background-color, #{map.get(maps.$select-defaults, surface)});

  // ITEM_DOC: Text color of cdr-select
  color: var(--cdr-select-text-color, #{map.get(maps.$select-defaults, text)});

  // ITEM_DOC: Box-shadow color of cdr-select
  box-shadow: inset 0 0 0 1px
    var(--cdr-select-box-shadow-color, #{map.get(maps.$select-defaults, border)});
  border: 0;
  border-radius: tokens.$cdr-radius-softer;
  padding-left: tokens.$cdr-space-half-x;
  padding-right: tokens.$cdr-space-two-x;
  height: tokens.$cdr-form-input-height-default;
  display: block;
  width: 100%;
  overflow: auto;
  margin: 0;

  &[disabled] {
    // ITEM_DOC: Background color of a disabled cdr-select
    background-color: var(
      --cdr-select-background-color-disabled,
      #{map.get(maps.$select-defaults, surface-disabled)}
    );

    // ITEM_DOC: Text color of a disabled cdr-select
    color: var(--cdr-select-text-color-disabled, #{map.get(maps.$select-defaults, text-disabled)});

    // ITEM_DOC: Box-shadow color of a disabled cdr-select
    box-shadow: inset 0 0 0 1px
      var(
        --cdr-select-box-shadow-color-disabled,
        #{map.get(maps.$select-defaults, border-disabled)}
      );

    &:hover {
      box-shadow: inset 0 0 0 1px
        var(
          --cdr-select-hover-box-shadow-color-disabled,
          #{map.get(maps.$select-defaults, border-disabled)}
        );
      cursor: not-allowed;
    }
  }

  &:active,
  &:focus {
    // ITEM_DOC: Box-shadow color of a cdr-select when active or focused
    box-shadow: inset 0 0 0 2px
      var(--cdr-select-box-shadow-color-focus, #{map.get(maps.$select-defaults, border-focus)});
    outline: none;
  }
}

@mixin cdr-select-prompt-mixin() {
  @include tokens.cdr-text-utility-sans-300;

  font-style: normal;

  // ITEM_DOC: Text color of cdr-select prompt
  color: var(--cdr-select-prompt-text-color, #{map.get(maps.$select-defaults, prompt)});

  &[disabled] {
    // ITEM_DOC: Text color of a disabled cdr-select prompt
    color: var(
      --cdr-select-prompt-text-color-disabled,
      #{map.get(maps.$select-defaults, text-disabled)}
    );
  }
}

@mixin cdr-select-large-mixin() {
  @include tokens.cdr-text-utility-sans-400;

  height: tokens.$cdr-form-input-height-large;
  padding-left: tokens.$cdr-space-half-x;
}

@mixin cdr-select-primary-mixin() {
  // ITEM_DOC: Background color of a primary cdr-select
  background-color: var(
    --cdr-select-primary-background-color,
    #{map.get(maps.$select-defaults, surface)}
  );

  &:active,
  &:focus {
    // ITEM_DOC: Background color of a primary cdr-select when active or focused
    background-color: var(
      --cdr-select-primary-background-color-active,
      #{map.get(maps.$select-defaults, surface-active)}
    );
  }
}

@mixin cdr-select-secondary-mixin() {
  // ITEM_DOC: Background color of a secondary cdr-select
  background-color: var(
    --cdr-select-secondary-background-color,
    #{map.get(maps.$select-defaults, surface-secondary)}
  );

  &:active,
  &:focus {
    // ITEM_DOC: Background color of a secondary cdr-select when active or focused
    background-color: var(
      --cdr-select-secondary-background-color-active,
      #{map.get(maps.$select-defaults, surface-secondary-active)}
    );
  }
}

@mixin cdr-select-error-mixin() {
  // ITEM_DOC: Background color of a cdr-select error
  background-color: var(
    --cdr-select-background-color-error,
    #{map.get(maps.$select-defaults, error-surface)}
  );

  // ITEM_DOC: Box-shadow color of a cdr-select error
  box-shadow: inset 0 0 0 1px
    var(--cdr-select-box-shadow-color-error, #{map.get(maps.$select-defaults, error-border)});
}
