@mixin cdr-toggle-button-base-text-mixin-medium() {
    font-family: $cdr-font-family-sans;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.16px;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }