@use '@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

@use './vars/CdrLabelStandalone.vars' as vars;

.cdr-label-standalone {
  display: grid;
  grid-template-areas:
    "label label info"
    "input input input"
    "post post post";


  &__label-wrapper {
    grid-area: label;
  }

  &__label {
    @include vars.cdr-label-standalone-label-mixin;

    &--sr-only {
      @include tokens.cdr-display-sr-only;
    }

    &--disabled {
      @include vars.cdr-label-standalone-disabled-mixin;

      .cdr-label-standalone__optional {
        @include vars.cdr-label-standalone-disabled-mixin;
      }
    }
  }

  &__optional {
    @include vars.cdr-label-standalone-optional-mixin;
  }

  &__helper {
    @include vars.cdr-label-standalone-helper-mixin;
  }

  &__info {
    @include vars.cdr-label-standalone-info-mixin;

    grid-area: info;
    order: 2;
    place-self: end end;
  }

  &__post-content {
    grid-area: post;
  }

  &__info-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
  }

  &__input-wrap {
    position: relative;
    display: flex;
    grid-area: input;
  }

  &__input-spacing {
    margin-top: tokens.$cdr-space-half-x;
  }
}
