.cdr-fulfillment-tile-icon {
  width: 2.2rem;
  height: 2.2rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--cdr-radius-round);
  position: relative;
  fill: var(--cdr-fulfillment-tile-icon-fill);
  flex-shrink: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: inset 0 0 0 var(--cdr-space-eighth-x) var(--cdr-fulfillment-tile-icon-fill);
    opacity: 0.3;
  }

  svg {
    max-height: 2rem;
    max-width: 2rem;
    stroke: white;
    stroke-width: var(--cdr-space-eighth-x);
    paint-order: stroke fill;
    margin: var(--cdr-space-quarter-x);
  }

  &--default {
    --cdr-fulfillment-tile-icon-fill: var(
      --cdr-fulfillment-tile-icon-default-icon-fill,
      var(--cdr-color-icon-message-default, var(--cdr-color-icon-message-default))
    );
  }

  &--info {
    --cdr-fulfillment-tile-icon-fill: var(
      --cdr-fulfillment-tile-icon-info-icon-fill,
      var(--cdr-color-border-message-info-01, var(--cdr-color-border-message-info-01))
    );
  }

  &--warning {
    --cdr-fulfillment-tile-icon-fill: var(
      --cdr-fulfillment-tile-icon-warning-icon-fill,
      var(--cdr-color-border-message-warning-01, var(--cdr-color-border-message-warning-01))
    );
  }

  &--success {
    --cdr-fulfillment-tile-icon-fill: var(
      --cdr-fulfillment-tile-icon-success-icon-fill,
      var(--cdr-color-icon-message-success, var(--cdr-color-icon-message-success))
    );
  }

  &--error {
    --cdr-fulfillment-tile-icon-fill: var(
      --cdr-fulfillment-tile-icon-error-icon-fill,
      var(--cdr-color-border-message-error-01, var(--cdr-color-border-message-error-01))
    );
  }
}