@import '../../../styles/settings/_index.scss';

$rating-color: #2b6692;
$empty-star: '\2606';
$filled-star: '\2605';

@mixin cdr-rating-small() {
  & .cdr-rating__icon {
    width: $cdr-icon-size-sm;
    height: $cdr-icon-size-sm;
    font-size: $cdr-icon-size-sm;
  }

  & .cdr-rating__count {
    @include cdr-text-utility-sans-100;

    margin-left: $cdr-space-quarter-x;
  }
}

@mixin cdr-rating-medium($parent-selector: '& ') {
  #{$parent-selector}.cdr-rating__icon {
    width: $cdr-icon-size;
    height: $cdr-icon-size;
    font-size: $cdr-icon-size;
  }

  #{$parent-selector}.cdr-rating__count {
    @include cdr-text-utility-sans-200;

    margin-left: $cdr-space-half-x;
  }
}

@mixin cdr-rating-large() {
  & .cdr-rating__icon {
    width: $cdr-icon-size-lg;
    height: $cdr-icon-size-lg;
    font-size: $cdr-icon-size-lg;
  }

  & .cdr-rating__count {
    @include cdr-text-utility-sans-300;
  }
}

@include cdr-rating-medium('');

.cdr-rating {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 1;

  color: $cdr-color-text-rating-default;

  /* Elements
    ========================================================================== */

  &__number {
    font-weight: 600;
  }

  &__ratings {
    display: flex;
  }

  &__icon {
    position: relative;
    z-index: 1;
  }

  &__caption-sr {
    @include cdr-display-sr-only;
  }

  /* Modifiers
    ========================================================================== */

  /* Linked
    ========== */

    &--linked {
      display: inline-flex;
      text-decoration: none;
    
      & .cdr-rating__count {
        &:hover,
        &:active,
        &:focus {
          //ITEM_DOC: Hover text color of cdr-rating count
          color: var(--cdr-rating-count-hover-color, var(--cdr-color-text-rating-hover, #{$cdr-color-text-rating-hover}));
          text-decoration: underline;
        }
    
        & > .cdr-rating__number {
          //ITEM_DOC: Color of the rating text separator
          border-right: 1px solid var(--cdr-rating-text-rating-separator, var(--cdr-color-text-rating-separator, #{$cdr-color-text-rating-separator}));
          padding: 0 0.6rem;
          margin-right: 0.6rem;
        }
      }
    }

  &__star {
    width: $cdr-icon-size;
    height: $cdr-icon-size;

    &--null-fill {
      //ITEM_DOC: Fill color of a null star
      fill: var(--cdr-rating-star-null-fill-color, #F9F8F6);
    }
  
    &--null-outline {
      //ITEM_DOC: Outline color of a null star
      fill: var(--cdr-rating-star-null-outline-color, #928B80);
    }
  
    &--partial-fill {
      //ITEM_DOC: Fill color of a partially filled star
      fill: var(--cdr-rating-star-partial-fill-color, #FFD280);
    }
  
    &--partial-stroke {
      //ITEM_DOC: Stroke color of a partially filled star
      stroke: var(--cdr-rating-star-partial-stroke-color, #BD7B2D);
    }

    &--filled {
      //ITEM_DOC: Fill color of a filled star
      fill: var(--cdr-rating-star-filled-fill-color, #FFD280);
      //ITEM_DOC: Stroke color of a filled star
      stroke: var(--cdr-rating-star-filled-stroke-color, #BD7B2D);
    }
  
    &--empty {
      //ITEM_DOC: Fill color of an empty star
      fill: var(--cdr-rating-star-empty-fill-color, #F9F8F6);
      //ITEM_DOC: Stroke color of an empty star
      stroke: var(--cdr-rating-star-empty-stroke-color, #BD7B2D);
    }
    
    &--small {
      width: $cdr-icon-size-sm;
      height: $cdr-icon-size-sm;
    }
    &--medium {
      width: $cdr-icon-size;
      height: $cdr-icon-size;
    }
    &--large {
      width: $cdr-icon-size-lg;
      height: $cdr-icon-size-lg;
    }

    @include cdr-xs-mq-only {
      &--small\@xs {
        width: $cdr-icon-size-sm;
        height: $cdr-icon-size-sm;
      }
  
      &--medium\@xs {
        width: $cdr-icon-size;
        height: $cdr-icon-size;
      }
  
      &--large\@xs {
        width: $cdr-icon-size-lg;
        height: $cdr-icon-size-lg;
      }
    }

    @include cdr-sm-mq-only {
      &--small\@sm {
        width: $cdr-icon-size-sm;
        height: $cdr-icon-size-sm;
      }
  
      &--medium\@sm {
        width: $cdr-icon-size;
        height: $cdr-icon-size;
      }
  
      &--large\@sm {
        width: $cdr-icon-size-lg;
        height: $cdr-icon-size-lg;
      }
    }

    @include cdr-md-mq-only {
      &--small\@md {
        width: $cdr-icon-size-sm;
        height: $cdr-icon-size-sm;
      }
  
      &--medium\@md {
        width: $cdr-icon-size;
        height: $cdr-icon-size;
      }
  
      &--large\@md {
        width: $cdr-icon-size-lg;
        height: $cdr-icon-size-lg;
      }
    }
    @include cdr-lg-mq-only {
      &--small\@lg {
        width: $cdr-icon-size-sm;
        height: $cdr-icon-size-sm;
      }
  
      &--medium\@lg {
        width: $cdr-icon-size;
        height: $cdr-icon-size;
      }
  
      &--large\@lg {
        width: $cdr-icon-size-lg;
        height: $cdr-icon-size-lg;
      }
    }

  }
 


  /* Large
    ========== */

  &--large {
    @include cdr-rating-large;
  }

  /* Medium
    ========== */

  &--medium {
    @include cdr-rating-medium();
  }

  /* Small
    ========== */

  &--small {
    @include cdr-rating-small;
  }

  @include cdr-xs-mq-only {
    &--small\@xs {
      @include cdr-rating-small;
    }

    &--medium\@xs {
      @include cdr-rating-medium;
    }

    &--large\@xs {
      @include cdr-rating-large;
    }
  }

  @include cdr-sm-mq-only {
    &--small\@sm {
      @include cdr-rating-small;
    }

    &--medium\@sm {
      @include cdr-rating-medium;
    }

    &--large\@sm {
      @include cdr-rating-large;
    }
  }

  @include cdr-md-mq-only {
    &--small\@md {
      @include cdr-rating-small;
    }

    &--medium\@md {
      @include cdr-rating-medium;
    }

    &--large\@md {
      @include cdr-rating-large;
    }
  }

  @include cdr-lg-mq-only {
    &--small\@lg {
      @include cdr-rating-small;
    }

    &--medium\@lg {
      @include cdr-rating-medium;
    }

    &--large\@lg {
      @include cdr-rating-large;
    }
  }
}