@use '/node_modules/@rei/cdr-tokens/dist/rei-dot-com/scss/cdr-tokens' as tokens;

@use './vars/CdrButton.vars' as vars;

.cdr-button {
  @include vars.cdr-button-base-mixin;

  svg {
    @include vars.cdr-button-base-icon-mixin;
  }

  &.cdr-button--has-icon-left svg {
    margin-right: tokens.$cdr-space-quarter-x;
  }

  &.cdr-button--has-icon-right svg {
    margin-left: tokens.$cdr-space-quarter-x;
  }

  /* Modifier style variants
    ========================================================================== */
  &--primary {
    @include vars.cdr-button-primary-mixin;
  }

  &--secondary {
    @include vars.cdr-button-secondary-mixin;
  }

  &--dark {
    @include vars.cdr-button-dark-mixin;
  }

  &--sale {
    @include vars.cdr-button-sale-mixin;
  }

  &--link {
    @include vars.cdr-button-link-mixin;
  }

  /* Size variants
    ========================================================================== */

  /* Large
     ========== */
  &--large {
    @include vars.cdr-button-large-mixin;
  }

  /* Medium
     ========== */
  &--medium {
    @include vars.cdr-button-medium-mixin;
  }

  /* Small
     ========== */

  &--small {
    @include vars.cdr-button-small-mixin;
  }

  /* Icon Only
     ========= */

  &--icon-only {
    @include vars.cdr-button-icon-only-mixin;

    & > svg {
      margin: 0;
    }
  }

  &--icon-only-large {
    padding: tokens.$cdr-space-three-quarter-x;
  }

  &--with-background {
    @include vars.cdr-button-with-background-mixin;
  }

  /* Full Width
    ========== */

  &--full-width {
    @include vars.cdr-button-full-width-mixin;
  }

  /* Breakpoint variants

  /* @xs
    0px - 767px
    ========== */
  @include tokens.cdr-xs-mq-only {
    &--small\@xs {
      @include vars.cdr-button-small-mixin;
    }

    &--medium\@xs {
      @include vars.cdr-button-medium-mixin;
    }

    &--large\@xs {
      @include vars.cdr-button-large-mixin;
    }

    &--full-width\@xs {
      @include vars.cdr-button-full-width-mixin;
    }
  }

  /* @sm
    768px - 991px
    ========== */
  @include tokens.cdr-sm-mq-only {
    &--small\@sm {
      @include vars.cdr-button-small-mixin;
    }

    &--medium\@sm {
      @include vars.cdr-button-medium-mixin;
    }

    &--large\@sm {
      @include vars.cdr-button-large-mixin;
    }

    &--full-width\@sm {
      @include vars.cdr-button-full-width-mixin;
    }
  }

  /* @md
    992px - 1199px
    ========== */
  @include tokens.cdr-md-mq-only {
    &--small\@md {
      @include vars.cdr-button-small-mixin;
    }

    &--medium\@md {
      @include vars.cdr-button-medium-mixin;
    }

    &--large\@md {
      @include vars.cdr-button-large-mixin;
    }

    &--full-width\@md {
      @include vars.cdr-button-full-width-mixin;
    }
  }

  /* @lg
    1200px and up
    ========== */

  @include tokens.cdr-lg-mq-only {
    &--small\@lg {
      @include vars.cdr-button-small-mixin;
    }

    &--medium\@lg {
      @include vars.cdr-button-medium-mixin;
    }

    &--large\@lg {
      @include vars.cdr-button-large-mixin;
    }

    &--full-width\@lg {
      @include vars.cdr-button-full-width-mixin;
    }
  }
}
